
@font-face {
    font-family: 'Segoe UI';
    src: url('../fonts/TheSansB_400_.ttf')  format('ttf');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Segoe-UI-500';
    src: url('../fonts/TheSansB_500_.ttf')  format('ttf');
    font-weight: 500;
    font-style: normal;
}


@font-face {
    font-family: 'Segoe-UI-600';
    src: url('../fonts/TheSansB_600_.ttf')  format('ttf');
    font-weight: 600;
    font-style: normal;
}


@font-face {
    font-family: 'Segoe-UI-700';
    src: url('../fonts/TheSansB_700_.ttf')  format('ttf');
    font-weight: 700;
    font-style: normal;
}