/* colors */
/***/
.play-icon1 {
  -webkit-mask: url(../images/new/play.svg) no-repeat 50% 50%;
          mask: url(../images/new/play.svg) no-repeat 50% 50%;
  -webkit-mask-size: contain;
  display: inline-block;
  vertical-align: middle;
  -webkit-mask-size: cover;
          mask-size: cover;
  width: 29px;
  height: 31px;
  background-color: #E4E9EC;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

html {
  scroll-behavior: smooth;
}

body {
  height: 100vh;
  overflow: hidden;
}

.slide_nav {
  opacity: 0;
  position: fixed;
  top: 0;
  left: 60px;
  z-index: 99;
}

.slide_nav ul {
  width: 50px;
  list-style: none;
}

.slide_nav ul li {
  cursor: pointer;
  margin-bottom: 25px;
}

.slide_nav ul li.active span {
  opacity: 1;
  border: 1px solid #1781E3;
}

.slide_nav ul li span {
  display: block;
  border: 1px solid #FFF;
  border-radius: 100%;
  height: 30px;
  width: 30px;
  opacity: 1;
  -webkit-transition: opacity 3s;
  transition: opacity 3s;
}

.pattern-video-div {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

.pattern-video-div .video-foreground, .pattern-video-div .video-background iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  max-width: 100%;
  height: 100%;
}

.pattern-video-div .video-background video {
  background: #f0eff2;
  position: absolute;
  min-width: 100%;
  min-height: 100vh;
  width: auto;
  height: auto;
  z-index: 0;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: bottom;
     object-position: bottom;
  background-size: cover;
  -webkit-transition: 1s opacity;
  transition: 1s opacity;
  max-width: 100%;
}

.pattern-video-div {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 0;
  height: 100vh;
  width: 100%;
}

.pattern-video-div .video-background {
  height: 100vh;
}

.intro-wrapper {
  margin: 0px;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.intro-wrapper .main-wrapper.flex2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.intro-wrapper #intro-section {
  max-height: 100vh;
  overflow-y: scroll;
  width: 100%;
}

.intro-section.video_section {
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  opacity: 1;
  z-index: 9;
  background-color: black;
}

.intro-section.video_section video {
  width: 100%;
  height: calc( 100vh - 160px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: bottom;
     object-position: bottom;
  outline: none;
  border: none;
}

.intro-section.video_section .video_play {
  width: 80px;
  height: 80px;
  position: absolute;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 100%;
  left: calc(50% - 40px);
  top: calc(50% - 40px);
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 0 0 4px;
}

.intro-section.video_section .skip_video {
  position: absolute;
  background-color: black;
  right: 40px;
  top: 20px;
  color: #FFF;
  cursor: pointer;
  padding: 10px;
  font-size: 18px;
  color: #1781E3;
  letter-spacing: -0.11px;
  line-height: 24px;
  font-weight: 500;
}

.intro-section.slide_section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 2;
  width: 100%;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

.intro-section.slide_section .slides {
  position: relative;
  overflow: hidden;
}

.intro-section.slide_section .slides#slide_1 {
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: rgba(2, 98, 172, 0.3);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  z-index: 9;
}

.intro-section.slide_section .slides#slide_1 h1 {
  font-size: 60px;
  color: #FFF;
  text-align: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  opacity: 0;
  max-width: 800px;
  line-height: 72px;
}

.intro-section.slide_section .slides#slide_1 .scroll_down {
  opacity: 0;
  -webkit-transform: rotate(270deg);
          transform: rotate(270deg);
  left: calc(50% - 200px);
  bottom: -300px;
  height: 50px;
  width: 400px;
  position: absolute;
  text-align: right;
  color: #fff;
  opacity: 0.8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  z-index: 5;
}

.intro-section.slide_section .slides#slide_1 .scroll_down:after {
  content: '';
  display: block;
  width: 285px;
  position: absolute;
  height: 1px;
  background-color: #bbbbbb;
  top: 25px;
  left: 0;
}

.intro-section.slide_section .slides#slide_2 {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: rgba(2, 98, 172, 0.3);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  z-index: 9;
}

.intro-section.slide_section .slides#slide_2 h1 {
  font-size: 60px;
  color: #FFF;
  text-align: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  opacity: 0;
  max-width: 800px;
  line-height: 72px;
}

.intro-section.slide_section .slides#slide_2 .scroll_down {
  opacity: 0;
  -webkit-transform: rotate(270deg);
          transform: rotate(270deg);
  left: calc(50% - 200px);
  bottom: -300px;
  height: 50px;
  width: 400px;
  position: absolute;
  text-align: right;
  color: #fff;
  opacity: 0.8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  z-index: 5;
}

.intro-section.slide_section .slides#slide_2 .scroll_down:after {
  content: '';
  display: block;
  width: 285px;
  position: absolute;
  height: 1px;
  background-color: #ffffff;
  top: 25px;
  left: 0;
}

.intro-section.slide_section .slides#slide_3 {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: rgba(2, 98, 172, 0.3);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  z-index: 9;
}

.intro-section.slide_section .slides#slide_3 h1 {
  font-size: 60px;
  color: #FFF;
  text-align: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  opacity: 0;
  max-width: 800px;
  line-height: 72px;
}

.intro-section.slide_section .slides#slide_3 .scroll_down {
  opacity: 0;
  -webkit-transform: rotate(270deg);
          transform: rotate(270deg);
  left: calc(50% - 250px);
  bottom: -300px;
  height: 50px;
  width: 500px;
  position: absolute;
  text-align: right;
  color: #fff;
  opacity: 0.8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  z-index: 5;
}

.intro-section.slide_section .slides#slide_3 .scroll_down:after {
  content: '';
  width: 390px;
  position: absolute;
  height: 1px;
  background-color: #ffffff;
  top: 25px;
  left: 0;
}

.intro-section.slide_section .slides#slide_3 .scroll_up {
  opacity: 0;
  -webkit-transform: rotate(270deg);
          transform: rotate(270deg);
  left: calc(50% - 190px);
  top: -305px;
  height: 50px;
  width: 380px;
  position: absolute;
  text-align: left;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.intro-section.slide_section .slides#slide_3 .scroll_up:after {
  content: '';
  display: block;
  width: 78%;
  position: absolute;
  height: 1px;
  background-color: #fff;
  top: 50%;
  right: 0;
}

.intro-section.slide_section .span-block {
  display: block;
}

.intro-section.slide_section .button-row {
  padding: 0;
  margin: 10px 0 0 0;
  position: relative;
}

.intro-section.slide_section .button-row a.btn.btn-view-more {
  font-size: 18px;
  color: #FFFFFF;
  letter-spacing: -0.1px;
  text-align: center;
  background: #1781E3;
  border-radius: 5px;
  min-height: 48px;
  padding: 12px 45px;
  border: 1px solid transparent;
}

@media (max-width: 767px) {
  .play-icon1 {
    width: 14px;
    height: 14px;
  }
  .slide_nav {
    left: 0;
    z-index: 99;
    -webkit-transform: scale(0.6);
            transform: scale(0.6);
  }
  .intro-section.video_section video {
    height: 100vh;
  }
  .intro-section.video_section .skip_video {
    right: 0px;
    top: 0px;
  }
  .intro-section.video_section .video_play {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    left: calc(50% - 20px);
    top: calc(50% - 30px);
    padding: 0 0 0 0;
  }
  .intro-section.video_section .video_play .play-icon {
    width: 11px;
    height: 15px;
    margin: 0 0 0 2px;
  }
  .intro-section.slide_section .slide_nav {
    position: absolute;
    left: 0px;
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  .intro-section.slide_section .slides#slide_1 h1 {
    max-width: 460px;
    font-size: 36px;
    line-height: 48px;
    padding: 0 30px;
  }
  .intro-section.slide_section .slides#slide_1 .scroll_down {
    left: calc(50% - 135px);
    width: 270px;
    font-size: 14px;
  }
  .intro-section.slide_section .slides#slide_1 .scroll_down:after {
    width: 185px;
    top: 25px;
    left: 0;
  }
  .intro-section.slide_section .slides#slide_2 h1 {
    max-width: 460px;
    font-size: 36px;
    line-height: 48px;
    padding: 0 30px;
  }
  .intro-section.slide_section .slides#slide_2 .scroll_down {
    left: calc(50% - 135px);
    width: 270px;
    font-size: 14px;
  }
  .intro-section.slide_section .slides#slide_2 .scroll_down:after {
    width: 185px;
    top: 25px;
    left: 0;
  }
  .intro-section.slide_section .slides#slide_3 h1 {
    max-width: 460px;
    font-size: 36px;
    line-height: 48px;
    padding: 0 30px;
  }
  .intro-section.slide_section .slides#slide_3 .scroll_up {
    left: calc(50% - 108px);
    width: 216px;
    font-size: 14px;
  }
  .intro-section.slide_section .slides#slide_3 .scroll_up:after {
    width: 150px;
  }
  .intro-section.slide_section .button-row a.btn.btn-view-more {
    font-size: 16px;
    padding: 8px 20px;
  }
  .intro-section.slide_section .slide_nav {
    left: 0;
    -webkit-transform: scale(0.6);
            transform: scale(0.6);
  }
  .intro-section.slide_section .slides {
    background-color: rgba(2, 98, 172, 0.5);
  }
  .pattern-video-div .video-background video {
    min-height: 300vh;
  }
}

@media only screen and (max-width: 767px) and (min-width: 320px) and (max-height: 570px) {
  .intro-section.slide_section .slide_nav {
    position: absolute;
    left: 0px;
    -webkit-transform: scale(0.4);
            transform: scale(0.4);
  }
  .intro-section.slide_section .slides#slide_1 h1 {
    max-width: 460px;
    font-size: 30px;
    line-height: 36px;
    padding: 0 30px;
  }
  .intro-section.slide_section .slides#slide_2 h1 {
    max-width: 460px;
    font-size: 30px;
    line-height: 36px;
    padding: 0 30px;
  }
  .intro-section.slide_section .slides#slide_3 h1 {
    max-width: 460px;
    font-size: 30px;
    line-height: 36px;
    padding: 0 30px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .intro-section.video_section .skip_video {
    right: 10px;
    top: 20px;
  }
  .slide_nav {
    left: 10px;
    z-index: 99;
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
  .intro-section.slide_section .slide_nav {
    position: absolute;
    top: -100%;
    left: 30px;
  }
  .intro-section.slide_section .slides#slide_1 h1 {
    max-width: 460px;
    font-size: 48px;
    line-height: 58px;
  }
  .intro-section.slide_section .slides#slide_2 h1 {
    max-width: 460px;
    font-size: 48px;
    line-height: 58px;
  }
  .intro-section.slide_section .slides#slide_3 h1 {
    max-width: 460px;
    font-size: 48px;
    line-height: 58px;
  }
  .intro-section.slide_section .slides {
    background-color: rgba(2, 98, 172, 0.5);
  }
  .pattern-video-div .video-background video {
    min-height: 300vh;
  }
}
/*# sourceMappingURL=intro-style.css.map */