/* colors */

$transparent-color: transparent;
$white-color: rgb(255, 255, 255);
$light-white-color: rgba(255, 255, 255, 0.6);
$light-white-color2: rgba(255, 255, 255, 0.5);
$black-color:rgba(0, 0, 0, 1);
$light-black-color:rgba(0, 0, 0, 0.5);

$color1: #1781E3;

/***/

.play-icon1 { mask: url(../images/new/play.svg) no-repeat 50% 50%; -webkit-mask-size: contain; display: inline-block; vertical-align: middle; mask-size: cover; width: 29px; height: 31px; background-color: #E4E9EC; transition: 0.5s; }

html {
    scroll-behavior: smooth;
  }

body{
    height: 100vh;
    overflow: hidden;
}
// #slide_section{
//     display: none;
// }
.slide_nav{
    opacity: 0;
    position: fixed;
    top: 0;
    left: 60px;
    z-index: 99;   
    ul{
        width: 50px;
        list-style: none;
        li{
            cursor: pointer;
            margin-bottom: 25px;
            &.active{
                span{
                    opacity: 1;
                    border: 1px solid #1781E3;
                }
            }
            span{
                display: block;
                border: 1px solid #FFF;
                border-radius: 100%;
                height: 30px;
                width: 30px;
                opacity: 1;
                transition: opacity 3s;
            }
        }
    }
}

.pattern-video-div{
    position: absolute; top: 0;  left: 0; z-index: 0;

    .video-foreground, .video-background iframe { 
        position: absolute; top: 0; 
        left: 0; width: 100%; max-width: 100%; 
        height: 100%; 
    }

    .video-background video {  
        background: #f0eff2; position: absolute; 
        // top: 50%; left: 50%; 
        min-width: 100%; 
        min-height: 100vh; width: auto; 
        height: auto; z-index: 0; 
        object-fit: cover;
        object-position: bottom;
        // transform: translateX(-50%) translateY(-50%); 

        background-size: cover; 
        transition: 1s opacity; 

        max-width: 100%;
    }      

}

.pattern-video-div {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 0;
    height: 100vh;
    width: 100%;
    .video-background{
        height: 100vh;
    }
}

.intro-wrapper{
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
    // max-height: 100vh;
    // min-height: 100vh;
     
    .main-wrapper.flex2 {
        display: flex; align-items: center; justify-content: center; flex-direction: column;
    }
    #intro-section{
        max-height: 100vh;
        overflow-y: scroll;
        width: 100%;
    }
}




.intro-section{
 
    &.video_section{
        width: 100%;
        min-height: 100vh;
        display: flex;
        align-items: center;
        position: relative;
        opacity: 1;  
        z-index: 9;
        background-color: $black-color;
        video{
            width: 100%;
            height: calc( 100vh - 160px );
            display: flex;
            align-items: center;
            justify-content: center;
            object-fit: cover;
            object-position: bottom;
            outline: none;
            border: none;
            
        }
        .video_play{
            width: 80px;
            height: 80px;
            position: absolute;
            background: $light-black-color;
            border-radius: 100%;
            left: calc(50% - 40px);
            top: calc(50% - 40px);
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0 0 0 4px;
        }
        .skip_video{
            position: absolute;
            background-color: $black-color;
            right: 40px;
            top: 20px;
            color: #FFF;
            cursor: pointer;
            padding: 10px;
            font-size: 18px;
            color: #1781E3;
            letter-spacing: -0.11px;
            line-height: 24px;
            font-weight: 500;

        }
    }

    &.slide_section{
        display: flex;
        // display: none;
        z-index: 2;
        // opacity: 0;
        width: 100%;
        // height: 100vh;
        // overflow: hidden;
        position: relative;
        flex-direction: column;
        overflow: hidden;

        .slides{
            position: relative;
            overflow: hidden;
            &#slide_1{
                width: 100%;
                min-height: 100vh;
                display: flex; 
                background-color: rgba(2, 98, 172, 0.3);
                align-items: center;
                justify-content: center;
                position: relative;
                z-index: 9;
                h1{
                    font-size: 60px;
                    color: #FFF;
                    text-align: center;
                    position: absolute;
                    bottom: 0;
                    width: 100%;
                    opacity: 0;
                    max-width: 800px;
                    line-height: 72px;
                }

                .scroll_down{
                    opacity: 0;
                    transform: rotate(270deg);
                    left: calc(50% - 200px);
                    bottom: -300px;
                    height: 50px;
                    width: 400px;
                    position: absolute;
                    text-align: right;
                    color: #fff;
                    opacity: 0.8;
                    display: flex;
                    align-items: center;
                    justify-content: flex-end;
                    z-index: 5;
                    &:after{
                        content: '';
                        display: block;
                        width: 285px;
                        position: absolute;
                        height: 1px;
                        background-color: #bbbbbb;
                        top: 25px;
                        left: 0;
                    }
                }
            }   
            
            &#slide_2{
                
                width: 100%;
                height: 100vh;
                display: flex; 
                background-color: rgba(2, 98, 172, 0.3);
                align-items: center;
                justify-content: center;
                position: relative;
                z-index: 9;
                h1{
                    font-size: 60px;
                    color: #FFF;
                    text-align: center;
                    position: absolute;
                    bottom: 0;
                    width: 100%;
                    opacity: 0;
                    max-width: 800px;
                    line-height: 72px;
                }

                .scroll_down{
                    opacity: 0;
                    transform: rotate(270deg);
                    left: calc(50% - 200px);
                    bottom: -300px;
                    height: 50px;
                    width: 400px;
                    position: absolute;
                    text-align: right;
                    color: #fff;
                    opacity: 0.8;
                    display: flex;
                    align-items: center;
                    justify-content: flex-end;
                    z-index: 5;
                    &:after{
                        content: '';
                        display: block;
                        width: 285px;
                        position: absolute;
                        height: 1px;
                        background-color: #ffffff;
                        top: 25px;
                        left: 0;
                    }
                }
            }

            &#slide_3{
                width: 100%;
                height: 100vh;
                display: flex; 
                background-color: rgba(2, 98, 172, 0.3);
                align-items: center;
                justify-content: center;
                position: relative;
                z-index: 9;
                h1{
                    font-size: 60px;
                    color: #FFF;
                    text-align: center;
                    position: absolute;
                    bottom: 0;
                    width: 100%;
                    opacity: 0;
                    max-width: 800px;
                    line-height: 72px;
                    // bottom: 35% !important;
                }
           
                .scroll_down{
                    opacity: 0;
                    transform: rotate(270deg);
                    left: calc(50% - 250px);
                    bottom: -300px;
                    height: 50px;
                    width: 500px;
                    position: absolute;
                    text-align: right;
                    color: #fff;
                    opacity: 0.8;
                    display: flex;
                    align-items: center;
                    justify-content: flex-end;
                    z-index: 5;
                    &:after{
                        content: '';
                        width: 390px;
                        position: absolute;
                        height: 1px;
                        background-color: #ffffff;
                        top: 25px;
                        left: 0;
                    }
                    
                }

                .scroll_up{
                    opacity: 0;
                    transform: rotate(270deg);
                    left: calc(50% - 190px);
                    top: -305px;
                    height: 50px;
                    width: 380px;
                    position: absolute;
                    text-align: left;
                    color: #fff;
                    
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                    &:after{
                        content: '';
                        display: block;
                        width: 78%;
                        position: absolute;
                        height: 1px;
                        background-color: #fff;
                        top: 50%;
                        right: 0;
                    }
                }

            }

            
        }
        

        .span-block{ display: block; }

        .button-row{
            padding: 0; margin: 10px 0 0 0; position: relative;
            a.btn.btn-view-more {
                font-size: 18px;
                color: #FFFFFF;
                letter-spacing: -0.1px;
                text-align: center;
                background: #1781E3;
                border-radius: 5px;
                min-height: 48px;
                padding: 12px 45px;
                border: 1px solid transparent;
            }
        }

    }
 

   
}

@media (max-width: 767px) {


    .play-icon1{ width: 14px; height: 14px; }
    .slide_nav { left: 0; z-index: 99; transform: scale(0.6); }
    
    .intro-section.video_section {
        video { height: 100vh; }
        .skip_video{  right: 0px; top:0px; }
        .video_play {
            width: 40px; height: 40px; border-radius: 100%; left: calc(50% - 20px); top: calc(50% - 30px);  padding: 0 0 0 0;
            .play-icon { width: 11px; height: 15px; margin: 0 0 0 2px; }
        }
    }
    
    .intro-section.slide_section{   
        .slide_nav { position: absolute; left: 0px; transform: scale(0.5); }
        .slides#slide_1 {
            h1 {
                max-width: 460px;
                font-size: 36px;
                line-height: 48px;
                padding: 0 30px;
            }
            .scroll_down {
                left: calc(50% - 135px);
                width: 270px;
                font-size: 14px;
                &:after {
                    width: 185px; top: 25px; left: 0;
                }
            }
        }
        .slides#slide_2 {
            h1 {
                max-width: 460px;
                font-size: 36px;
                line-height: 48px;
                padding: 0 30px;
            }
            .scroll_down {
                left: calc(50% - 135px);
                width: 270px;
                font-size: 14px;
                &:after {
                    width: 185px; top: 25px; left: 0;
                }
            }
        }
        .slides#slide_3 {
            h1 {
                max-width: 460px;
                font-size: 36px;
                line-height: 48px;
                padding: 0 30px;
            }
            .scroll_up {
                left: calc(50% - 108px);
                width: 216px;
                font-size: 14px;
                &:after {
                    width: 150px; 
                }
            }
        }

        .button-row {
            a.btn.btn-view-more {
                font-size: 16px; padding: 8px 20px;
            }
        }

        .slide_nav {
            left: 0;
            transform: scale(0.6);
        }

    }
  
    .intro-section.slide_section .slides{     background-color: rgba(2, 98, 172, 0.5); }

    .pattern-video-div {
        .video-background {
            video {
                min-height: 300vh;
            }
        }
    }

    @media only screen and (min-width: 320px) and (max-height: 570px) {
        .intro-section.slide_section{   
            .slide_nav { position: absolute; left: 0px; transform: scale(0.4); }
            .slides#slide_1 {
                h1 {
                    max-width: 460px;
                    font-size: 30px;
                    line-height: 36px;
                    padding: 0 30px;
                }
                
            }
            .slides#slide_2 {
                h1 {
                    max-width: 460px;
                    font-size: 30px;
                    line-height: 36px;
                    padding: 0 30px;
                }
              
            }
            .slides#slide_3 {
                h1 {
                    max-width: 460px;
                    font-size: 30px;
                    line-height: 36px;
                    padding: 0 30px;
                }
                
            }
    
        }
        
        
    }
}



@media only screen and (min-width: 768px) and (max-width: 1024px) {

    .intro-section.video_section {
        .skip_video{  right: 10px; top: 20px; }
    }

    .slide_nav { left: 10px; z-index: 99; transform: scale(0.8); }

    .intro-section.slide_section{   
        .slide_nav { position: absolute; top: -100%; left: 30px; }
        .slides#slide_1 {
            h1 {
                max-width: 460px;
                font-size: 48px;
                line-height: 58px;
            }
        }
        .slides#slide_2 {
            h1 {
                max-width: 460px;
                font-size: 48px;
                line-height: 58px;
            }
        }
        .slides#slide_3 {
            h1 {
                max-width: 460px;
                font-size: 48px;
                line-height: 58px;
            }
        }
    }

    .intro-section.slide_section .slides{     background-color: rgba(2, 98, 172, 0.5); }

    .pattern-video-div {
        .video-background {
            video {
                min-height: 300vh;
            }
        }
    }

}

@media only screen and (min-width: 1024px) and (max-width: 1366px) {

}

@media only screen and (min-width: 1025px) and (max-width: 1290px) {

}