.btn-circle-download {
  position: relative;
  height: 45px;
  width: 45px;
  margin: auto;
  border-radius: 100%;
  background: #5944C6;
  cursor: pointer;
  overflow: hidden;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}

.btn-circle-download:after {
  content: "";
  position: relative;
  display: block;
  width: 200%;
  height: 100%;
  background-image: linear-gradient(100deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.25), rgba(255, 255, 255, 0));
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}

.btn-circle-download svg {
  stroke-width: 6;
  stroke-linecap: round;
  stroke-linejoin: round;
  fill: #5944C6;
}

.btn-circle-download svg#border {
  position: absolute;
  top: 0;
  left: 0;
  stroke: none;
  stroke-dasharray: 144;
  stroke-dashoffset: 144;
  -webkit-transition: all .9s linear;
  transition: all .9s linear;
}

.btn-circle-download svg#arrow {
  position: absolute;
  top: 14px;
  left: 17px;
  stroke: #fff;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}

.btn-circle-download svg#check {
  position: absolute;
  top: 17px;
  left: 13px;
  stroke: white;
  -webkit-transform: scale(0);
          transform: scale(0);
}

.btn-circle-download:hover {
  background: rgba(255, 255, 255, 0.2);
}

.btn-circle-download:hover #arrow path,
.btn-circle-download:hover #arrow polyline {
  stroke: #fff;
}

.btn-circle-download.load {
  background: rgba(255, 255, 255, 0.2);
}

.btn-circle-download.load #arrow path,
.btn-circle-download.load #arrow polyline {
  stroke: #fff;
}

.btn-circle-download.load #border {
  stroke: #fff;
  stroke-dasharray: 144;
  stroke-dashoffset: 0;
}

.btn-circle-download.done {
  background: #fff;
  -webkit-animation: rubberBand .8s;
          animation: rubberBand .8s;
}

.btn-circle-download.done:after {
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
  -webkit-transition: -webkit-transform .4s ease;
  transition: -webkit-transform .4s ease;
  transition: transform .4s ease;
  transition: transform .4s ease, -webkit-transform .4s ease;
  -webkit-transition-delay: .7s;
          transition-delay: .7s;
}

.btn-circle-download.done #border,
.btn-circle-download.done #arrow {
  display: none;
}

.btn-circle-download.done #check {
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
  -webkit-transition-delay: .2s;
          transition-delay: .2s;
}

@-webkit-keyframes rubberBand {
  from {
    -webkit-transform: scale(1, 1, 1);
            transform: scale(1, 1, 1);
  }
  30% {
    -webkit-transform: scale3d(1.15, 0.75, 1);
            transform: scale3d(1.15, 0.75, 1);
  }
  40% {
    -webkit-transform: scale3d(0.75, 1.15, 1);
            transform: scale3d(0.75, 1.15, 1);
  }
  50% {
    -webkit-transform: scale3d(1.1, 0.85, 1);
            transform: scale3d(1.1, 0.85, 1);
  }
  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
            transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
            transform: scale3d(1.05, 0.95, 1);
  }
  to {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
}

@keyframes rubberBand {
  from {
    -webkit-transform: scale(1, 1, 1);
            transform: scale(1, 1, 1);
  }
  30% {
    -webkit-transform: scale3d(1.15, 0.75, 1);
            transform: scale3d(1.15, 0.75, 1);
  }
  40% {
    -webkit-transform: scale3d(0.75, 1.15, 1);
            transform: scale3d(0.75, 1.15, 1);
  }
  50% {
    -webkit-transform: scale3d(1.1, 0.85, 1);
            transform: scale3d(1.1, 0.85, 1);
  }
  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
            transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
            transform: scale3d(1.05, 0.95, 1);
  }
  to {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
}

.credit {
  position: fixed;
  right: 20px;
  bottom: 20px;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
  -webkit-user-select: none;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
  opacity: .6;
}

.credit img {
  width: 72px;
}

.credit:hover {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}
/*# sourceMappingURL=round_style.css.map */