/* colors */
/* Navigation Menu */
/* common css */
.container {
  width: 1000px !important;
}

.container-1170 {
  width: 1170px !important;
}

.span-block {
  display: block;
}

h1 {
  font-size: 60px;
  color: white;
  letter-spacing: -0.33px;
  text-align: center;
  line-height: 78px;
  font-weight: 300;
}

h2 {
  margin: 0 auto 20px auto;
  padding: 0;
  font-size: 48px;
  color: #001155;
  text-align: center;
  font-weight: 300;
}

p {
  color: #333333;
  padding: 0 0 0 0;
  margin: 0 auto 20px auto;
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: -0.35px;
}

.font-bold {
  font-weight: 700;
}

.mt-5 {
  margin-top: 5px !important;
}

.mt-15 {
  margin-top: 15px !important;
}

.mt-20 {
  margin-top: 20px !important;
}

.mt-35 {
  margin-top: 35px !important;
}

.mt-40 {
  margin-top: 40px !important;
}

.mt-50 {
  margin-top: 50px !important;
}

.mt-60 {
  margin-top: 60px !important;
}

.mt-80 {
  margin-top: 80px !important;
}

.mt-190 {
  margin-top: 190px !important;
}

.mb-5 {
  margin-bottom: 5px !important;
}

.mb-15 {
  margin-bottom: 15px !important;
}

.mb-20 {
  margin-bottom: 20px !important;
}

.mb-35 {
  margin-bottom: 35px !important;
}

.mb-40 {
  margin-bottom: 40px !important;
}

.mb-60 {
  margin-bottom: 60px !important;
}

.mb-80 {
  margin-bottom: 80px !important;
}

.mr-10 {
  margin-right: 10px !important;
}

.mr-15 {
  margin-right: 15px !important;
}

.mr-20 {
  margin-right: 20px !important;
}

.ml-10 {
  margin-left: 10px !important;
}

.ml-15 {
  margin-left: 15px !important;
}

.ml-20 {
  margin-left: 20px !important;
}

.search.search--desktop {
  position: fixed;
}

.font-500 {
  font-weight: 500 !important;
}

.pause-icon {
  -webkit-mask: url(../images/new/play.svg) no-repeat 50% 50%;
  mask: url(../images/new/play.svg) no-repeat 50% 50%;
  -webkit-mask-size: contain;
  display: inline-block;
  vertical-align: middle;
  -webkit-mask-size: cover;
          mask-size: cover;
  width: 29px;
  height: 31px;
  background-color: #E4E9EC;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.play-icon {
  -webkit-mask: url(../images/new/pause.svg) no-repeat 50% 50%;
  mask: url(../images/new/pause.svg) no-repeat 50% 50%;
  -webkit-mask-size: contain;
  display: inline-block;
  vertical-align: middle;
  mask-size: contain;
  width: 20px;
  height: 20px;
  background-color: white;
}

/* End of common css */
.nav {
  position: fixed;
  width: 100%;
  top: 0;
}

.nav .logo {
  margin-left: 0px;
  margin-right: 125px;
}

.nav .logo .logo_icon {
  height: 40px;
}

.nav .logo .logo_img {
  width: 70px;
}

.nav .logo .logo-lifeform {
  background-image: none;
  background-size: 40px;
}

.nav .logo .logo-type {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 0 0 8px;
}

.nav .nav__level1 .nav__mainnav .nav__primary .nav-item {
  padding-right: 70px;
  margin: 0;
}

.nav .nav__level1 .nav__mainnav .nav__primary .nav-item .nav-link {
  color: #001155;
}

.nav .nav__level1 .nav__mainnav .nav__primary .nav-item .nav-link:hover {
  color: #1781E3;
}

.nav .nav__level1 .nav__mainnav .nav__primary .nav-item .nav-link:hover .text-underline::before {
  background-color: #1781E3;
  top: 31px;
}

.nav .nav__level1 .nav__mainnav .nav__primary .nav-item .nav-link--active {
  color: #1781E3;
}

.nav .nav__level1 .nav__mainnav .nav__primary .nav-item .nav-link--active .text-underline::before {
  background-color: #1781E3;
  top: 31px;
}

.nav .nav-user span.span-round-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: -12px 0 0 0;
}

.nav .nav-user span.span-round-img img.img-user {
  height: 48px;
  width: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 100%;
  background-color: #D8D8D8;
  border: 1px solid #979797;
  font-size: 12px;
  text-align: center;
}

/* Navigation Responsive */
/* home page */
.main_div {
  padding: 0;
  margin: 80px 0 0 0;
  position: relative;
  overflow-y: hidden;
}

.main_div .font_bold {
  font-weight: 700 !important;
}

.banner-container {
  margin: 0 auto;
  padding: 0;
  position: relative;
  height: 100%;
  width: 100%;
  min-height: 520px;
}

.banner-container .video-background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin: 0 auto;
}

.banner-container .video-background .video-foreground {
  background-color: #0262AC;
}

.banner-container .video-background .video-foreground video {
  height: 520px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -o-object-fit: cover;
     object-fit: cover;
}

.banner-container .banner-blk-div {
  margin: 0 auto;
  padding: 0;
  position: relative;
  background-color: rgba(2, 98, 172, 0.9);
}

.banner-container .banner-blk-div .content-banner-div {
  width: 100%;
  max-width: 976px;
  min-height: 520px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.banner-container .banner-blk-div .content-banner-div h1 {
  min-height: 156px;
}

.banner-container .banner-path {
  margin: 0 auto;
  padding: 0;
  position: absolute;
  bottom: -5px;
  right: 0;
  width: 100%;
  text-align: center;
  z-index: 11;
}

.banner-container .banner-path img {
  margin: 0 auto;
  padding: 0;
  position: relative;
  left: 100px;
  text-align: center;
  z-index: 111;
}

.opportunities-section {
  background-color: #fff;
  padding: 100px 0 75px 0;
  position: relative;
  overflow: hidden;
}

.opportunities-section .heading {
  padding: 0;
  margin: 0 auto;
}

.opportunities-section p {
  text-align: center;
  max-width: 700px;
}

.order-2 {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

.font-300 {
  font-weight: 300;
}

.swisscom-section1 {
  background-color: #fff;
  padding: 100px 0 75px 0;
  position: relative;
  overflow: hidden;
}

.swisscom-section1 .content-div h4 {
  padding: 0;
  margin: 0 0 20px 0;
  font-weight: 500;
  font-size: 24px;
  color: #001155;
  letter-spacing: -0.35px;
  text-align: left;
  line-height: 32px;
}

.swisscom-section1 .content-div p {
  padding: 0;
  margin: 0 0 20px 0;
  font-weight: 400;
  font-size: 18px;
  color: #333333;
  letter-spacing: -0.1px;
  text-align: left;
  line-height: 24px;
}

.swisscom-section1 .img-thumb {
  padding: 30px 0 0 70px;
}

.swisscom-section1.swisscom-section2 .img-thumb {
  padding: 30px 70px 0 0px;
  text-align: right;
}

.representation-section {
  background-color: #F8FAFB;
  padding: 100px 0 75px 0;
  position: relative;
  overflow: hidden;
}

.representation-section .representation-div {
  padding: 0;
}

.representation-section .representation-div h2 {
  letter-spacing: -1.63px;
}

.content-root {
  padding: 0;
  margin: 35px 0 0 0;
  position: relative;
}

.content-root .content-row {
  padding: 0;
  margin: 0 0 15px 0;
  position: relative;
}

.content-root .content-row h4 {
  padding: 0;
  margin: 0 0 10px 0;
  font-weight: 500;
  font-size: 24px;
  color: #001155;
  letter-spacing: -0.35px;
  text-align: left;
  line-height: 32px;
}

.content-root .content-row p {
  padding: 0;
  margin: 0 0 5px 0;
  font-weight: 400;
  font-size: 18px;
  color: #333333;
  letter-spacing: -0.1px;
  text-align: left;
  line-height: 24px;
}

.content-root .content-row ul.custom-ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 15px 0 0 0;
}

.content-root .content-row ul.custom-ul li {
  width: 50%;
  padding: 0 0 0 30px;
  margin: 0 0 10px 0;
  font-weight: 500;
  font-size: 18px;
  color: #333333;
  letter-spacing: -0.1px;
  text-align: left;
  line-height: 24px;
  position: relative;
}

.content-root .content-row ul.custom-ul li:before {
  content: "";
  position: absolute;
  left: 10px;
  top: 8px;
  height: 9px;
  width: 9px;
  background-color: #1781E3;
  border-radius: 100px;
  display: inline-block;
}

.text-center {
  text-align: center;
}

.promise-section {
  background-color: white;
  padding: 100px 0 75px 0;
  position: relative;
  overflow: hidden;
}

.promise-section .promise-div {
  padding: 0;
}

.promise-section .promise-div h2 {
  letter-spacing: -1.63px;
}

.brand-activation-section {
  background-color: #F8FAFB;
  padding: 100px 0 75px 0;
  position: relative;
  overflow: hidden;
}

.brand-activation-section .brand-activation-div {
  padding: 0;
}

.brand-activation-section .brand-activation-div h2 {
  letter-spacing: -1.63px;
}

.brand-activation-section .brand-activation-div .content-root {
  padding-right: 40px;
}

.max-width-700 {
  max-width: 700px;
}

.ready-level-section {
  background-color: white;
  padding: 190px 0 30px 0;
}

.challenge-level-section {
  background-color: white;
  padding: 100px 0 30px 0;
}

.challenge-level-section .challenge-level-div h2 {
  line-height: 60px;
}

.ready-check-section {
  background-color: white;
  padding: 0px 0 80px 0;
  position: relative;
  overflow: hidden;
}

.ready-check-section .ready-check-div {
  padding: 0px;
  margin: 0px;
  position: relative;
}

.ready-check-section .ready-check-div .heading {
  padding: 0;
  margin: 0 auto 75px auto;
}

.ready-check-section .ready-check-div .heading p {
  text-align: center;
  max-width: 700px;
}

.ready-level-images-section {
  background-color: white;
}

.ready-level-images-section .ready-level-images-div {
  padding: 0px 0 75px 0;
  position: relative;
  overflow: hidden;
}

.d-flex-center {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-pack: center !important;
      -ms-flex-pack: center !important;
          justify-content: center !important;
}

.img-root {
  padding: 0;
  margin: 0;
  position: relative;
}

.img-root .img-box {
  padding: 0;
  margin: 0;
  position: relative;
}

.img-root .img-box h4 {
  font-weight: 500;
  font-size: 24px;
  color: #001155;
  letter-spacing: -0.35px;
  text-align: left;
  line-height: 32px;
}

.img-root .img-box .text-center {
  text-align: center !important;
}

.img-root .img-box .img-thumb {
  padding: 0 10px 0 0px;
  margin: 0;
}

.img-root .img-box .img-thumb img.img-fluid {
  height: 500px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.heading-small h2 {
  font-size: 24px;
  letter-spacing: 0px;
}

.heading-small p {
  color: #001155;
  text-align: center;
}

.timeline-section {
  background-color: #fff;
  padding: 100px 0 75px 0;
  position: relative;
  overflow: hidden;
}

.timeline-section .heading {
  padding: 0;
  margin: 0 auto;
}

.timeline-section p {
  text-align: center;
  max-width: 700px;
}

.timeline-section .timeline-div .timeline-root {
  padding: 0;
  margin: 55px 0 0 0;
  padding: 0;
  margin: 0 0 5px 0;
}

.timeline-section .timeline-div .timeline-root .timeline-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  position: relative;
  min-height: 450px;
  overflow-y: none;
  overflow-x: auto;
}

.timeline-section .timeline-div .timeline-root .timeline-row .timeline-relative {
  position: relative;
  z-index: 2;
}

.timeline-section .timeline-div .timeline-root .timeline-row .timeline-box {
  padding: 0;
  margin: 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 240px;
  z-index: 2;
  min-height: 241px;
}

.timeline-section .timeline-div .timeline-root .timeline-row .timeline-box .timeline-content p {
  padding: 0;
  margin: 0 0 5px 0;
  font-weight: 500;
  font-size: 14px;
  color: #333333;
  letter-spacing: -0.08px;
  text-align: left;
  line-height: 18px;
}

.timeline-section .timeline-div .timeline-root .timeline-row .timeline-box .timeline-content h4 {
  padding: 0;
  margin: 0 5px 0 0;
  font-weight: 500;
  font-size: 16px;
  color: #001155;
  letter-spacing: -0.23px;
  line-height: 32px;
}

.timeline-section .timeline-div .timeline-root .timeline-row .timeline-box .timeline-dot {
  padding: 0;
  margin: 100px auto 0px auto;
  position: relative;
  -webkit-transition: 0.8s;
  transition: 0.8s;
}

.timeline-section .timeline-div .timeline-root .timeline-row .timeline-box .timeline-dot::before {
  position: absolute;
  content: "";
  background-color: #1781E3;
  height: 60px;
  width: 1px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 0;
  -webkit-transition: 0.8s;
  transition: 0.8s;
  top: -60px;
  left: 25px;
}

.timeline-section .timeline-div .timeline-root .timeline-row .timeline-box .timeline-dot::after {
  position: absolute;
  content: "";
  border: 1px solid #1781E3;
  background-color: #1781E3;
  height: 9px;
  width: 9px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 100%;
  -webkit-transition: 0.8s;
  transition: 0.8s;
  top: -69px;
  left: 21px;
}

.timeline-section .timeline-div .timeline-root .timeline-row .timeline-box .timeline-dot .outline-round-root {
  position: relative;
  height: 50px;
  width: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: 0.8s;
  transition: 0.8s;
  background-color: #FFFFFF;
  border: 1px solid #BBBBBB;
  border-radius: 100%;
}

.timeline-section .timeline-div .timeline-root .timeline-row .timeline-box .timeline-dot .outline-round2 {
  position: relative;
  height: 34px;
  width: 34px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: 0.8s;
  transition: 0.8s;
  background-color: #FFFFFF;
  border: 1px solid #1781E3;
  border-radius: 100%;
}

.timeline-section .timeline-div .timeline-root .timeline-row .timeline-box .timeline-dot .fill-round {
  position: relative;
  height: 18px;
  width: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
  border: 1px solid #1781E3;
  background-color: #1781E3;
  border-radius: 100%;
}

.timeline-section .timeline-div .timeline-root .timeline-row .timeline-box.timeline-box-top {
  margin-right: 128px;
}

.timeline-section .timeline-div .timeline-root .timeline-row .timeline-box.timeline-box-bottom {
  position: absolute;
  bottom: 0;
  left: -185px;
}

.timeline-section .timeline-div .timeline-root .timeline-row .timeline-box.timeline-box-bottom .timeline-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

.timeline-section .timeline-div .timeline-root .timeline-row .timeline-box.timeline-box-bottom .timeline-dot {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  margin-bottom: 27px;
}

.timeline-section .timeline-div .timeline-root .timeline-row .timeline-relative.no-active {
  position: relative;
}

.timeline-section .timeline-div .timeline-root .timeline-row .timeline-relative.no-active .timeline-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.timeline-section .timeline-div .timeline-root .timeline-row .timeline-relative.no-active .timeline-box.timeline-box-bottom .timeline-dot {
  position: absolute;
  top: -16px;
  margin: 0;
}

.timeline-section .timeline-div .timeline-root .timeline-row .timeline-relative.no-active .timeline-box.timeline-box-bottom .timeline-content {
  -webkit-transform: translateY(40px);
          transform: translateY(40px);
}

.timeline-section .timeline-div .timeline-root .timeline-row .timeline-relative.no-active .timeline-box.timeline-box-bottom .timeline-dot .outline-round-root .line {
  bottom: auto;
  top: 49px;
}

.timeline-section .timeline-div .timeline-root .timeline-row .timeline-relative.no-active .timeline-box.timeline-box-bottom .timeline-dot .outline-round-root .line .dot {
  top: auto;
  bottom: 0px;
}

.timeline-section .timeline-div .timeline-root .timeline-row .timeline-relative.no-active .timeline-content {
  opacity: 0;
  -webkit-transform: translateY(-40px);
          transform: translateY(-40px);
}

.timeline-section .timeline-div .timeline-root .timeline-row .timeline-relative.no-active .timeline-dot {
  position: absolute;
  top: 93px;
  height: 50px;
  width: 50px;
}

.timeline-section .timeline-div .timeline-root .timeline-row .timeline-relative.no-active .timeline-dot::before {
  display: none;
}

.timeline-section .timeline-div .timeline-root .timeline-row .timeline-relative.no-active .timeline-dot::after {
  display: none;
}

.timeline-section .timeline-div .timeline-root .timeline-row .timeline-relative.no-active .timeline-dot .outline-round-root {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 0px;
  width: 0px;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
}

.timeline-section .timeline-div .timeline-root .timeline-row .timeline-relative.no-active .timeline-dot .outline-round-root::before {
  border: 1px solid transparent;
  background-color: transparent;
}

.timeline-section .timeline-div .timeline-root .timeline-row .timeline-relative.no-active .timeline-dot .outline-round-root .line {
  position: absolute;
  background-color: #1781E3;
  height: 0px;
  width: 1px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 0;
  bottom: 49px;
  left: 50%;
}

.timeline-section .timeline-div .timeline-root .timeline-row .timeline-relative.no-active .timeline-dot .outline-round-root .line .dot {
  position: absolute;
  border: 1px solid #1781E3;
  background-color: #1781E3;
  height: 9px;
  width: 9px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 100%;
  top: 0px;
  left: -4px;
  opacity: 0;
}

.timeline-section .timeline-div .timeline-root .timeline-row .timeline-relative.no-active .timeline-dot .outline-round2 {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 0px;
  width: 0px;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
}

.timeline-section .timeline-div .timeline-root .timeline-row .timeline-relative.no-active .timeline-dot .outline-round2::before {
  border: 1px solid transparent;
  background-color: transparent;
}

.timeline-section .timeline-div .timeline-root .timeline-row .timeline-relative.no-active .timeline-dot .fill-round {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  height: 0px;
  width: 0px;
}

.timeline-section .timeline-div .timeline-root .timeline-row .timeline-relative.no-active .timeline-dot .fill-round::before {
  position: absolute;
  content: " ";
  border: 1px solid #1781E3;
  background-color: #FFFFFF;
  height: 18px;
  width: 18px;
  border-radius: 100%;
}

.timeline-section .timeline-div .timeline-root .timeline-row .timeline-relative.no-active .timeline-dot .fill-round.active {
  border-radius: 50%;
}

.timeline-section .timeline-div .timeline-root .timeline-row .timeline-relative.no-active .timeline-dot .fill-round.active::before {
  display: none;
}

.timeline-section .timeline-div .timeline-root .timeline-row .timeline-relative.no-active .timeline-dot:hover {
  cursor: pointer;
}

.timeline-section .timeline-div .timeline-root .timeline-row .last-timeline .timeline-box-top {
  margin-right: 0px;
}

.timeline-section .timeline-div .timeline-root .timeline-row .timeline-border {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  background-color: #BBBBBB;
  border-radius: 3px;
  height: 2px;
  top: 217px;
  z-index: 1;
}

.timeline-thumb {
  padding: 0;
  margin: 0;
  position: relative;
}

.timeline-thumb .timeline-img {
  padding: 0;
  margin: 0;
  width: 100%;
}

.questions-ans-section {
  background-color: #F8FAFB;
  padding: 100px 0 100px 0;
  position: relative;
  overflow: hidden;
}

.questions-ans-section .questions-ans-div {
  padding: 0px;
  margin: 0px;
  position: relative;
}

.questions-ans-section .questions-ans-div .heading {
  padding: 0;
  margin: 0 auto 75px auto;
}

.questions-ans-section .questions-ans-div .heading p {
  text-align: center;
  max-width: 700px;
}

.sdx-custom-container .accordion--border {
  border-bottom: 0px solid #d6d6d6;
}

.sdx-custom-container .accordion--border .accordion__item {
  border: none;
  border-bottom: 0;
  padding: 23px 13px 24px 19px;
  border-bottom: 1px solid #D6D6D6;
}

.sdx-custom-container .accordion--border .accordion__item:last-child {
  border-bottom: 0px solid #D6D6D6;
}

.sdx-custom-container .accordion--border .accordion__collapse {
  padding: 20px 0 15px 0;
}

.sdx-custom-container .accordion--border .accordion__collapse p {
  font-size: 16px;
  color: #333333;
  letter-spacing: 0.11px;
  text-align: left;
  line-height: 24px;
  font-weight: 300;
}

.sdx-custom-container .accordion--border .accordion__collapse h4 {
  color: #001155;
  line-height: 24px;
  letter-spacing: -.1px;
  font-size: 18px;
  font-weight: 400;
}

.status:before {
  position: absolute;
  margin: 0px 0 0 0;
  display: block;
  right: 30px;
  top: 28px;
}

.status.status-online:before {
  color: #25B252;
}

.comment-section {
  position: relative;
  overflow: hidden;
}

.comment-section .comment-div {
  padding: 0px;
  margin: 0px;
  position: relative;
}

.comment-section .comment-div .comment-input-root {
  padding: 50px 0 40px 0;
  margin: 0px;
  position: relative;
  background-color: #EEF3F6;
}

.comment-section .comment-div .comment-input-root .avatar {
  margin: 0 20px 0 0;
  position: relative;
  min-width: 115px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.comment-section .comment-div .comment-input-root .avatar .avatar__image {
  height: 47px;
  width: 47px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 100%;
  background-color: #D8D8D8;
  border: 1px solid #979797;
  font-size: 12px;
  text-align: center;
}

.comment-section .comment-div .comment-input-root .textarea-comment {
  border: 1px solid transparent !important;
  border-radius: 0px !important;
  background-color: #DEE3E6 !important;
  font-weight: 500 !important;
  color: #666666;
}

.comment-section .comment-div .comment-input-root .bottom-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.comment-section .comment-div .comment-input-root .bottom-row .checkbox [type=checkbox] + label::before {
  border: 2px solid #666;
  border-radius: 100px;
}

.comment-section .comment-div .comment-input-root .bottom-row .checkbox [type=checkbox]:checked + label::after {
  color: #666;
}

.comment-section .comment-div .comment-input-root .bottom-row .button--primary {
  margin-bottom: 0px;
  border-radius: 0px;
}

.comment-section .comment-div .comment-view-root {
  padding: 30px 0 30px 0;
  margin: 0px;
  position: relative;
  background-color: white;
}

.comment-section .comment-div .comment-view-root .avatar {
  margin: 0 0px 0 0;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.comment-section .comment-div .comment-view-root .avatar .avatar__image {
  height: 47px;
  width: 47px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 100%;
  background-color: #D8D8D8;
  border: 1px solid #979797;
  font-size: 12px;
  text-align: center;
}

.comment-section .comment-div .comment-view-root .comment__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 8px 0 0;
  min-width: 115px;
}

.comment-section .comment-div .comment-view-root .comment__header .timespan {
  font-weight: 400;
  color: #666;
  font-size: 16px;
  text-align: right;
  line-height: 24px;
  margin: 2px 0 5px 0;
}

.comment-section .comment-div .comment-view-root .comment__header .link {
  width: 100%;
  text-align: right;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 500;
}

.comment-section .comment-div .comment-view-root .comment__header .link .icon-plus.icon-common1 {
  font-size: 12px;
  border: 1px solid;
  border-radius: 100%;
  margin: 0 5px 0 0;
}

.comment-section .comment-div .comment-view-root .comment__header .link .round-plus {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.comment-section .comment-div .comment-view-root .comment__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  position: relative;
}

.comment-section .comment-div .comment-view-root .comment__wrapper:first-child {
  border-top: 1px solid transparent !important;
}

.comment-section .comment-div .comment-view-root .comment__wrapper:last-child {
  border-bottom: 1px solid transparent !important;
}

.comment-section .comment-div .comment-view-root .comment__wrapper .author {
  margin: 0 0 5px 0;
}

.comment-section .comment-div .comment-view-root .comment__wrapper .author__title {
  width: 100%;
  font-weight: 500;
}

.comment-section .comment-div .comment-view-root .comment__wrapper span.author__subtitle {
  font-weight: 400;
  color: #666;
}

.comment-section .comment-div .comment-view-root .comment__wrapper .comment_text_view_post {
  font-weight: 400;
  line-height: 24px;
  color: #333333;
  margin: 0 0 5px 0;
  padding: 0 55px 0 0;
  font-size: 18px;
}

.comment-section .comment-div .comment-view-root .comment__wrapper .comment__footer {
  padding: 0;
  margin: 10px 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.comment-section .comment-div .comment-view-root .comment__wrapper .comment__footer span.number-icons {
  display: inline-block;
  position: relative;
}

.comment-section .comment-div .comment-view-root .comment__wrapper .comment__footer span.comment-number-view {
  font-size: 12px;
  font-weight: 700;
  position: absolute;
  top: -7px;
  right: -3px;
}

.comment-section .comment-div .comment-view-root .comment__wrapper .comment__footer .link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 500;
}

.comment-section .comment-div .comment-view-root .comment__wrapper .comment__footer .icon-common1 {
  margin: 0 5px 0 0;
}

.comment-section .comment-div .comment-view-root .comment__wrapper .comment__body {
  padding: 0 0 0 12px;
}

.comment-section .comment-div .comment-view-root .comment__wrapper .round-cancel {
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 14px;
  font-weight: 600;
  text-decoration: none;
}

.comment-section .comment-div .comment-view-root .comment__wrapper .round-cancel .icon-close.icon-common1 {
  border: 1px solid;
  border-radius: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 16px;
  width: 16px;
  padding: 0 0px 0 0px;
  color: #666;
}

.comment-section .comment-div .comment-view-root .comment__wrapper .round-cancel:hover, .comment-section .comment-div .comment-view-root .comment__wrapper .round-cancel:focus, .comment-section .comment-div .comment-view-root .comment__wrapper .round-cancel:active {
  text-decoration: none !important;
  border-bottom: 0px !important;
}

.comment-section .comment-div .comment-view-root .comment__wrapper .round-cancel:hover i, .comment-section .comment-div .comment-view-root .comment__wrapper .round-cancel:focus i, .comment-section .comment-div .comment-view-root .comment__wrapper .round-cancel:active i {
  color: #1781E3 !important;
}

.comment-section .comment-div .comment-view-root .heading-div {
  padding: 0;
  padding-left: 127px;
  margin: 0 0 0px 0;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.comment-section .comment-div .comment-view-root .heading-div .comment-number-div {
  position: relative;
}

.comment-section .comment-div .comment-view-root .heading-div .comment-number-div .icon-speech-bubble1 {
  font-size: 30px;
  color: #333333;
  margin: 0 0 0 70px;
}

.comment-section .comment-div .comment-view-root .heading-div .comment-number-div span.comment-number-view {
  font-size: 12px;
  font-weight: 700;
  position: absolute;
  top: -5px;
  right: -7px;
}

.the-campaign-section {
  background-color: #F8FAFB;
  padding: 150px 0 100px 0;
  position: relative;
  overflow: hidden;
}

.the-campaign-section .the-campaign-div {
  padding: 0px;
  margin: 0px;
  position: relative;
}

.the-campaign-section .the-campaign-div .heading {
  padding: 0;
  margin: 0 auto 75px auto;
}

.the-campaign-section .the-campaign-div .heading p {
  text-align: center;
  max-width: 700px;
}

.carousel__slider .slide {
  opacity: 0;
}

.carousel__slider .slide.slide.slide--prev {
  opacity: 1;
}

.carousel__slider .slide.slide--active {
  opacity: 1;
}

.carousel__slider .slide.slide--next {
  opacity: 1;
}

.carousel__slider .slide .img-slider530 {
  height: 530px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.carousel-custom1 .card--slider .card__image {
  height: 530px;
}

.carousel-custom1 .card--slider .card__image img.img-slider {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -o-object-fit: cover;
     object-fit: cover;
  height: 530px;
}

.carousel-custom1 .carousel__pagination {
  margin: 40px 0 0 0;
}

.input-group-root {
  padding: 0;
  margin: 0;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.input-group-root .input-fields {
  min-width: calc(100% - 190px);
  margin: 0 25px 0 0;
}

.input-group-root input.input {
  background: #FFFFFF;
  border: 1px solid #D6D6D6;
  border-radius: 5px;
  min-height: 48px;
  width: 100%;
  padding: 10px 20px;
}

.input-group-root input.input ::-webkit-input-placeholder {
  color: #BBBBBB !important;
}

.input-group-root input.input ::-moz-placeholder {
  color: #BBBBBB !important;
}

.input-group-root input.input :-ms-input-placeholder {
  color: #BBBBBB !important;
}

.input-group-root input.input :-moz-placeholder {
  color: #BBBBBB !important;
}

.centered-img-div .img-thumb-round-div {
  margin: 0 0 35px 0;
}

.centered-img-div .img-thumb-round {
  height: 178px;
  width: 178px;
  border-radius: 100%;
}

.slider-section .slider-div .content-card {
  padding: 0;
}

.slider-section .slider-div .content-card .card--slider {
  padding: 10px 15px;
}

.carousel-custom3 .slide {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.carousel-custom3 .slide .content-div {
  padding: 20px 0 30px 0;
}

.carousel-custom3 .slide h4 {
  padding: 0;
  margin: 0 0 15px 0;
  font-weight: 400;
  font-size: 24px;
  color: #001155;
  letter-spacing: -0.35px;
  text-align: center;
  line-height: 32px;
}

.carousel-custom3 .slide p {
  padding: 0;
  margin: 0 0 0 0;
  font-weight: 400;
  font-size: 16px;
  color: #333333;
  letter-spacing: -0.09px;
  text-align: center;
  line-height: 24px;
}

.carousel-custom3 .carousel__pagination {
  margin: 50px 0 0 0;
}

/* Start look & feel  **/
.mood-for-ready-section {
  background-color: #fff;
  position: relative;
  position: relative;
  padding: 0 0 0 0;
}

.mood-for-ready-section .heading {
  padding: 0;
  margin: 0 auto;
}

.mood-for-ready-section .mood-for-ready-div {
  padding: 0;
  margin: 0;
  padding: 100px 0 0 0;
  min-height: 460px;
  background-image: url(../images/new/back-shadow1.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.video-div {
  margin: 0 0 -85px 0;
  position: relative;
  z-index: 5;
}

.video-div .video-box .video-thumb {
  position: relative;
}

.video-div .video-box .video-thumb .video-look {
  width: 100%;
  height: 265px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -o-object-fit: cover;
     object-fit: cover;
}

.video-div .video-box .video-thumb .video-side-card {
  position: absolute;
  min-height: 265px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 3;
  top: 0;
}

.video-div .video-box .video-thumb .video-side-card .video-button {
  width: 70px;
  height: 70px;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 100%;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.video-div .video-box .video-thumb .video-side-card .video-button .pause-icon {
  width: 25px;
  height: 26px;
  padding: 0 0 0 4px;
}

.video-div .video-box .video-thumb .video-side-card .video-button .play-icon {
  width: 21px;
  height: 22px;
  margin: 0 1px 0 0px;
}

.video-div .video-box .video-thumb .video-side-card .display-none {
  display: none;
}

.video-div .video-box .video-footer {
  padding: 0;
  margin: 5px 0 0 0;
  position: relative;
}

.video-div .video-box .video-footer p {
  font-size: 14px;
  color: #333333;
  letter-spacing: -0.2px;
  line-height: 32px;
  font-weight: 500;
}

/***************************/
/* starting old design css */
.blu-help-section .blu-help-div {
  padding: 190px 0 100px 0;
  background-color: #eef3f6;
}

.blu-help-section .blu-help-div .heading h2 {
  font-size: 48px;
  text-align: center;
  color: #001155;
  margin-bottom: 120px;
}

.blu-help-section .blu-help-div .blu-help-card-div {
  padding: 0 0 60px 0;
  margin: 0;
}

.blu-help-section .blu-help-div .blu-help-card-div .feature-box {
  margin-bottom: 16px;
  position: relative;
  z-index: 9;
  border-bottom: 1px solid transparent !important;
}

.blu-help-section .blu-help-div .blu-help-card-div .feature-box button.link {
  color: #fff;
}

.blu-help-section .blu-help-div .blu-help-card-div .feature-box:hover, .blu-help-section .blu-help-div .blu-help-card-div .feature-box:focus {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  text-decoration: none;
  border-bottom: 0;
  color: #fff;
  -webkit-box-shadow: 0px 0px 60px 2px rgba(74, 144, 226, 0.3);
  box-shadow: 0px 0px 60px 2px rgba(74, 144, 226, 0.3);
  border: none;
  z-index: 9999;
}

.blu-help-section .blu-help-div .blu-help-card-div .feature-box:hover .div-content, .blu-help-section .blu-help-div .blu-help-card-div .feature-box:focus .div-content {
  padding-top: 00px;
}

.blu-help-section .blu-help-div .blu-help-card-div .feature-box a.fb-box-link:focus {
  color: #fff;
}

.blu-help-section .blu-help-div .blu-help-card-div .feature-box a.fb-box-link {
  background-color: #fff;
  display: inline-block;
  padding: 25px 20px;
  width: 100%;
  border-radius: 6px;
  max-height: 270px;
  position: relative;
  color: #fff;
  z-index: 999;
  -webkit-transition: 0.50s ease-in-out;
  transition: 0.50s ease-in-out;
}

.blu-help-section .blu-help-div .blu-help-card-div .feature-box a.fb-box-link h3 {
  color: #333333;
  font-weight: 500;
  font-size: 40px;
  line-height: 48px;
  position: absolute;
  top: 20px;
  left: 0;
  padding-left: 20px;
  width: 100%;
  text-transform: capitalize;
}

.blu-help-section .blu-help-div .blu-help-card-div .feature-box a.fb-box-link .div-content {
  color: #666666;
  height: 245px;
  padding-bottom: 25px;
  max-height: 245px;
  -webkit-transition: 0.50s ease-in-out;
  transition: 0.50s ease-in-out;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.blu-help-section .blu-help-div .blu-help-card-div .feature-box a.fb-box-link .div-content p {
  margin: 0 0 20px 0;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  word-break: break-all;
  width: 100%;
}

.blu-help-section .blu-help-div .blu-help-card-div .feature-box a.fb-box-link .div-content p:last-child {
  margin: 0 0 0px 0;
}

.blu-help-section .blu-help-div .blu-help-card-div .feature-box a.fb-box-link:hover, .blu-help-section .blu-help-div .blu-help-card-div .feature-box a.fb-box-link:focus {
  border-bottom: 1px solid transparent !important;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  border-radius: 6px;
}

.blu-teams-section .blu-teams-div {
  padding: 100px 0 130px 0;
  background-color: #5944C6;
}

.blu-teams-section .blu-teams-div h2 {
  color: #fff;
  text-align: center;
  font-size: 50px;
  margin-bottom: 60px;
  line-height: 48px;
  font-weight: 300;
}

.blu-teams-section .blu-teams-div .point-steps-list {
  width: 55%;
  margin: 0 auto;
}

.blu-teams-section .blu-teams-div .point-steps-list p {
  color: #fff;
  font-size: 28px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 500;
}

.blu-teams-section .blu-teams-div .point-steps-list p .span-round {
  font-size: 28px;
  height: 45px;
  text-align: center;
  margin-right: 20px;
  width: 45px;
  border-radius: 100%;
  border: 4px solid #fff;
  display: inline-block;
  line-height: 38px;
}

.blu-teams-section .blu-teams-div .point-steps-list p:nth-child(1) {
  -webkit-animation-duration: 1.25s !important;
          animation-duration: 1.25s !important;
}

.blu-teams-section .blu-teams-div .point-steps-list p:nth-child(2) {
  -webkit-animation-duration: 2s !important;
          animation-duration: 2s !important;
}

.blu-teams-section .blu-teams-div .point-steps-list p:nth-child(3) {
  -webkit-animation-duration: 2.75s !important;
          animation-duration: 2.75s !important;
}

.blu-teams-section .blu-teams-div .point-steps-list p:nth-child(4) {
  -webkit-animation-duration: 3.5s !important;
          animation-duration: 3.5s !important;
}

.animated {
  -webkit-animation-duration: 1.25s !important;
  animation-duration: 1.25s !important;
}

/* inner html css */
.chatbot-concept-section .chatbot-concept-div {
  background-color: #eef3f6;
  padding: 100px 0 0 0;
}

.chatbot-concept-section .chatbot-concept-div h2 {
  margin: 0 0 80px 0;
  padding: 0;
  font-size: 48px;
  color: #001155;
  text-align: center;
  font-weight: 300;
}

.chatbot-concept-section .chatbot-concept-div .concept-row {
  padding: 0 0 80px 0;
}

.chatbot-concept-section .chatbot-concept-div .cc_content_box {
  padding: 0 0 20px 0;
  text-align: center;
}

.chatbot-concept-section .chatbot-concept-div .cc_content_box .heading_div {
  padding: 0;
  margin: 0 0 30px 0;
}

.chatbot-concept-section .chatbot-concept-div .cc_content_box .heading_div p {
  color: #333333;
  font-size: 24px;
  font-weight: 500;
}

.chatbot-concept-section .chatbot-concept-div .cc_content_box .heading_div p .round_span {
  font-size: 30px;
  height: 45px;
  text-align: center;
  margin-right: 20px;
  width: 45px;
  border-radius: 100%;
  color: #1781E3;
  border: 4px solid #1781E3;
  display: inline-block;
  line-height: 38px;
}

.chatbot-concept-section .chatbot-concept-div .cc_content_box .details_div {
  padding: 0;
  margin: 0;
}

.chatbot-concept-section .chatbot-concept-div .cc_content_box .details_div p {
  color: #333333;
  padding: 0 20px 0 0;
  margin: 0 0 20px 0;
}

.chatbot-concept-section .chatbot-concept-div .cc_content_img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
}

.chatbot-concept-section .chatbot-concept-div .cc_content_img .img_thumb_div {
  padding: 0;
  margin: 0;
}

.chatbot-concept-section .chatbot-concept-div .cc_content_img .img_thumb_div img {
  width: 100%;
}

.mb-framework-section .mb-framework-div {
  padding: 100px 0 80px 0;
}

.mb-framework-section .mb-framework-div h2 {
  margin: 0 0 80px 0;
  padding: 0;
  font-size: 48px;
  color: #001155;
  text-align: center;
  font-weight: 300;
  line-height: 56px;
}

.mb-framework-section .mb-framework-div .mbf-detailbox {
  padding: 0;
  margin: 0;
}

.mb-framework-section .mb-framework-div .mbf-detailbox h3 {
  padding: 0;
  margin: 0 0 40px 0;
  font-size: 24px;
  color: #333333;
  font-weight: 300;
}

.mb-framework-section .mb-framework-div .mbf-detailbox .mbf-detail-listbox {
  padding: 0;
  margin: 0;
}

.mb-framework-section .mb-framework-div .mbf-detailbox .mbf-detail-listbox ul {
  padding: 0 10% 0 0;
  margin: 0;
}

.mb-framework-section .mb-framework-div .mbf-detailbox .mbf-detail-listbox ul li {
  padding: 0 0 0 25px;
  margin: 0 0 20px 0;
  line-height: 24px;
  position: relative;
  font-weight: 500;
}

.mb-framework-section .mb-framework-div .mbf-detailbox .mbf-detail-listbox ul li::before {
  display: inline-block;
  content: "";
  border-radius: 100%;
  height: 9px;
  width: 9px;
  margin-right: 10px;
  background-color: #1781E3;
  position: absolute;
  top: 7px;
  left: 0;
}

.hl-architecture-section .hl-architecture-div {
  padding: 100px 0 80px 0;
  background-color: #DDE3E7;
  background-image: radial-gradient(circle, #F5F5F5, #DDE3E7);
}

.hl-architecture-section .hl-architecture-div h2 {
  margin: 0 0 80px 0;
  padding: 0;
  font-size: 48px;
  color: #001155;
  text-align: center;
  font-weight: 300;
  line-height: 56px;
}

.hl-architecture-section .hl-architecture-div .btn-round {
  display: inline-block;
  padding: 8px 20px;
  background-color: #5944C6;
  color: #fff;
  border-radius: 20px;
  text-align: center;
  margin: 0 0 5px 0;
}

.hl-architecture-section .hl-architecture-div .btn-round.btn-round2 {
  background-color: #E61E64;
}

.hl-architecture-section .hl-architecture-div .btn-round.btn-round3 {
  background-color: #1781E3;
}

.hl-architecture-section .hl-architecture-div .btn-round.btn-round4 {
  background-color: #0EABA9;
}

.hl-architecture-section .hl-architecture-div .btn-round.btn-round5 {
  background-color: #11AAFF;
}

.hl-architecture-section .hl-architecture-div .btn-round.btn-70 {
  width: 70%;
  float: right;
}

.hl-architecture-section .hl-architecture-div .left-architecture-div {
  padding: 0 0 100px 0;
  margin: 0;
  width: 30%;
  float: left;
  height: 100%;
  position: relative;
}

.hl-architecture-section .hl-architecture-div .left-architecture-div .top-left-div {
  padding: 0;
  margin: 0 0 -30px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 50%;
  z-index: 22;
  position: relative;
}

.hl-architecture-section .hl-architecture-div .left-architecture-div .middle-img-thumb {
  padding: 0;
  margin: 0;
}

.hl-architecture-section .hl-architecture-div .left-architecture-div .middle-img-thumb img {
  width: 100%;
}

.hl-architecture-section .hl-architecture-div .left-architecture-div .bottom-left-div {
  padding: 0;
  margin: -30px 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 50%;
  z-index: 22;
  position: relative;
}

.hl-architecture-section .hl-architecture-div .middle-architecture-div {
  padding: 0 0 100px 0;
  margin: 0;
  width: 40%;
  float: left;
  height: 100%;
  position: relative;
}

.hl-architecture-section .hl-architecture-div .middle-architecture-div .middle-img-thumb {
  padding: 70px 0 0 0;
  margin: 0;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hl-architecture-section .hl-architecture-div .middle-architecture-div .middle-img-thumb img.img-responsive {
  width: 230px;
}

.hl-architecture-section .hl-architecture-div .middle-architecture-div .middle-img-thumb .span-arrow {
  display: inline-block;
  position: absolute;
}

.hl-architecture-section .hl-architecture-div .middle-architecture-div .middle-img-thumb .span-arrow img {
  width: 35px;
}

.hl-architecture-section .hl-architecture-div .middle-architecture-div .middle-img-thumb .span-arrow-left {
  left: 25px;
}

.hl-architecture-section .hl-architecture-div .middle-architecture-div .middle-img-thumb .span-arrow-right {
  right: 25px;
}

.hl-architecture-section .hl-architecture-div .right-architecture-div {
  padding: 0 0 100px 0;
  margin: 0;
  width: 30%;
  float: left;
  height: 100%;
  position: relative;
}

.hl-architecture-section .hl-architecture-div .right-architecture-div .middle-img-thumb {
  padding: 50px 0 0 0;
  margin: 0 0 0px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 60%;
  z-index: 22;
  position: relative;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.hl-architecture-section .hl-architecture-div .right-architecture-div .middle-img-thumb .btn-round {
  text-align: right;
  width: 100%;
}

.hl-architecture-section .hl-architecture-div .right-architecture-div .middle-img-thumb .btn-round.btn-70 {
  width: 70%;
}

.hl-architecture-section .hl-architecture-div .bottom_title_div {
  padding: 0;
  margin: 0;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.hl-architecture-section .hl-architecture-div .bottom_title_div .title_bottom {
  margin: 0 0;
  padding: 0;
  font-size: 32px;
  color: #001155;
  text-align: center;
  font-weight: 500;
}

.luis-section .luis-div {
  padding: 100px 0 80px 0;
}

.luis-section .luis-div h2 {
  margin: 0 0 80px 0;
  padding: 0;
  font-size: 50px;
  color: #001155;
  text-align: center;
  font-weight: 300;
  line-height: 48px;
}

.luis-section .luis-div .luis-detailbox {
  padding: 0;
  margin: 0;
}

.luis-section .luis-div .luis-detailbox h3 {
  padding: 0;
  margin: 0 0 20px 0;
  font-size: 24px;
  color: #333333;
  font-weight: 500;
}

.luis-section .luis-div .luis-detailbox .luis-detail-listbox {
  padding: 0;
  margin: 0;
}

.luis-section .luis-div .luis-detailbox .luis-detail-listbox p {
  margin: 0 0 25px 0;
  padding: 0;
  line-height: 24px;
  font-weight: 500;
}

.luis-section .luis-div .luis-detailbox .luis-detail-listbox p .span_block {
  display: block;
}

.luis-section .luis-div .luis-detailbox-right {
  padding: 45px 30px 45px 30px;
  margin: 0;
  background-color: #1781E3;
  border-radius: 6px;
}

.luis-section .luis-div .luis-detailbox-right .luis-img {
  padding: 8px 0 35px 0;
  margin: 0;
}

.luis-section .luis-div .luis-detailbox-right .luis-img .img-responsive {
  width: 100%;
  border-radius: 6px;
}

.luis-section .luis-div .luis-detailbox-right .luis_bottom_txt {
  padding: 0;
  margin: 0;
  font-weight: 500;
}

.luis-section .luis-div .luis-detailbox-right .luis_bottom_txt h4 {
  padding: 0;
  margin: 0 0 30px 0;
  font-weight: 500;
  color: #FFFFFF;
  font-size: 24px;
}

.luis-section .luis-div .luis-detailbox-right .luis_bottom_txt p {
  padding: 0;
  margin: 0 0 30px 0;
  font-weight: 500;
  color: #FFFFFF;
  font-size: 18px;
  line-height: 24px;
}

.luis-section .luis-div .luis-detailbox-right .luis_bottom_txt p:last-child {
  margin: 0 0 0 0;
}

.luis-section .luis-div .luis-detailbox-right .luis_bottom_txt .fontweight-700 {
  font-weight: 700 !important;
}

/* contact us */
.feedback-section .feedback-div {
  padding: 100px 0 80px 0;
}

.feedback-section .feedback-div h2 {
  margin: 0 0 80px 0;
  padding: 0;
  font-size: 48px;
  color: #001155;
  text-align: center;
  font-weight: 300;
  line-height: 56px;
}

.feedback-section .feedback-div .feedback-detailbox {
  padding: 0 15% 0 0;
  margin: 0;
}

.feedback-section .feedback-div .feedback-detailbox h3 {
  padding: 0;
  margin: 0 0 20px 0;
  font-size: 24px;
  color: #333333;
  font-weight: 500;
}

.feedback-section .feedback-div .feedback-detailbox .feedback-detail-listbox {
  padding: 0;
  margin: 0;
}

.feedback-section .feedback-div .feedback-detailbox .feedback-detail-listbox p {
  margin: 0 0 25px 0;
  padding: 0;
  line-height: 24px;
  font-weight: 500;
}

.feedback-section .feedback-div .feedback-detailbox .feedback-detail-listbox p .span_block {
  display: block;
}

.feedback-section .feedback-div .feedback-form-div {
  padding: 0;
  margin: 0;
}

.feedback-section .feedback-div .feedback-form-div .form-group-div {
  padding: 0;
  margin: 0 0 15px 0;
}

.feedback-section .feedback-div .feedback-form-div .form-group-div .textarea_feedback {
  width: 100%;
  height: 100%;
  border: 1px solid #D6D6D6;
  border-radius: 5px;
  padding: 20px;
  resize: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.feedback-section .feedback-div .feedback-form-div .btn-send-div .btn-send {
  float: right;
  padding: 12px 50px;
  background-color: #1781E3;
  border-radius: 5px;
  color: #fff;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.feedback-section .feedback-div .feedback-form-div .btn-send-div .btn-send:hover {
  background-color: #5944C6;
}

.feedback-section .feedback-div .success_div {
  padding: 0;
  margin: 0;
  display: none;
  visibility: visible;
  -webkit-animation-name: fadeIn;
          animation-name: fadeIn;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.feedback-section .feedback-div .success_div .img-responsive {
  width: 100%;
}

.hide_div {
  display: none;
  visibility: visible;
  -webkit-animation-name: fadeOut;
          animation-name: fadeOut;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
}

.show_div {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

.team-section .team-div {
  padding: 100px 0 80px 0;
  background-color: #eef3f6;
}

.team-section .team-div h2 {
  margin: 0 0 80px 0;
  padding: 0;
  font-size: 48px;
  color: #001155;
  text-align: center;
  font-weight: 300;
  line-height: 56px;
}

.team-section .team-div .team-img-div {
  padding: 0;
  margin: 0;
}

.team-section .team-div .team-img-div .img-team {
  width: 100%;
}

.owl-carousel-slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.owl-carousel-slider h1 {
  margin: 0 0 15px 0;
}

.owl-carousel-slider p {
  font-weight: 400;
  font-size: 16px;
  color: white;
  letter-spacing: -0.09px;
  text-align: center;
  line-height: 24px;
}

.owl-carousel-slider .client-slider-item {
  min-height: 245px;
  padding: 100px 0 70px 0;
}

.owl-carousel-slider .owl-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.owl-carousel-slider .owl-dots .owl-dot {
  width: 16px;
  height: 16px;
  margin: 0px 4px;
  opacity: .5;
  -webkit-transition: opacity 150ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 150ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.owl-carousel-slider .owl-dots .owl-dot span {
  background-color: #fff;
  width: 8px;
  height: 8px;
  margin: 0;
}

.owl-carousel-slider .owl-dots .owl-dot.active {
  opacity: 1;
}

.owl-carousel-slider .owl-dots .owl-dot.active span {
  width: 16px;
  height: 16px;
  background-color: #fff !important;
  opacity: 1 !important;
  margin: 0;
}

.owl-carousel-slider .owl-dots .owl-dot:hover, .owl-carousel-slider .owl-dots .owl-dot:focus {
  opacity: 1;
}

.owl-carousel-slider .owl-dots .owl-dot:hover span, .owl-carousel-slider .owl-dots .owl-dot:focus span {
  background: white;
}

.owl-carousel-custom1 .card--slider {
  padding: 10px 15px;
}

.owl-carousel-custom1 .card--slider img.img-slider {
  height: 530px;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.owl-carousel-custom1 .owl-dots {
  padding: 60px 0 0 0;
}

.owl-carousel-custom1 .owl-dots .owl-dot span {
  background-color: #1781E3;
}

.owl-carousel-custom1 .owl-dots .owl-dot.active span {
  background-color: #1781E3 !important;
}

.owl-carousel-custom1 .owl-dots .owl-dot:hover span, .owl-carousel-custom1 .owl-dots .owl-dot:focus span {
  background: #1781E3;
}

.owl-carousel-custom1 .owl-nav {
  margin-top: 10px;
  top: calc(50% - 60px);
  height: 60px;
  position: absolute;
  bottom: 0;
  width: inherit;
  z-index: 15;
  pointer-events: none;
}

.owl-carousel-custom1 .owl-nav [class*=owl-] {
  position: absolute;
  width: auto;
  height: auto;
  font-size: 22px;
  background-image: none;
  cursor: pointer;
  outline: 0;
  pointer-events: auto;
  font-size: 60px !important;
  color: #1781E3 !important;
  background-color: transparent;
  transition: color 0.2s cubic-bezier(0.4, 0, 0.6, 1), -webkit-transform 0.3s cubic-bezier(0.4, 0, 0.6, 1);
  -webkit-transition: color 0.2s cubic-bezier(0.4, 0, 0.6, 1), -webkit-transform 0.3s cubic-bezier(0.4, 0, 0.6, 1);
  transition: color 0.2s cubic-bezier(0.4, 0, 0.6, 1), transform 0.3s cubic-bezier(0.4, 0, 0.6, 1);
  transition: color 0.2s cubic-bezier(0.4, 0, 0.6, 1), transform 0.3s cubic-bezier(0.4, 0, 0.6, 1), -webkit-transform 0.3s cubic-bezier(0.4, 0, 0.6, 1);
}

.owl-carousel-custom1 .owl-nav [class*=owl-]:focus, .owl-carousel-custom1 .owl-nav [class*=owl-]:hover {
  background-color: transparent !important;
}

.owl-carousel-custom1 .owl-nav [class*=owl-].owl-prev {
  left: -105px;
}

.owl-carousel-custom1 .owl-nav [class*=owl-].owl-next {
  right: -105px;
}

.content-slider-container {
  margin: 0 0 0px 0;
  padding: 0;
  min-height: 520px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slider-section {
  background-color: white;
  padding: 100px 0 80px 0;
  position: relative;
  overflow: hidden;
}

.slider-section .heading {
  padding: 0;
  margin: 0 auto 75px auto;
}

.slider-section .heading p {
  text-align: center;
  max-width: 700px;
}

.better-together-section .better-together-div {
  padding: 100px 0 45px 0;
  background-color: #eef3f6;
}

.better-together-section .better-together-div .heading {
  padding: 0;
  margin: 0 auto 75px auto;
}

.better-together-section .better-together-div .heading h2 {
  line-height: 48px;
}

.better-together-section .better-together-div .heading p {
  text-align: center;
  max-width: 700px;
}

.better-together-section .better-together-div .better-together-card-div {
  padding: 0 0 60px 0;
  margin: 0;
}

.better-together-section .better-together-div .better-together-card-div .feature-box {
  margin-bottom: 16px;
  position: relative;
  z-index: 9;
  border-bottom: 1px solid transparent !important;
}

.better-together-section .better-together-div .better-together-card-div .feature-box button.link {
  color: #fff;
}

.better-together-section .better-together-div .better-together-card-div .feature-box:hover, .better-together-section .better-together-div .better-together-card-div .feature-box:focus {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  text-decoration: none;
  border-bottom: 0;
  color: #fff;
  -webkit-box-shadow: 0px 0px 60px 2px rgba(74, 144, 226, 0.3);
  box-shadow: 0px 0px 60px 2px rgba(74, 144, 226, 0.3);
  border: none;
  z-index: 9999;
}

.better-together-section .better-together-div .better-together-card-div .feature-box:hover .div-content, .better-together-section .better-together-div .better-together-card-div .feature-box:focus .div-content {
  padding-top: 00px;
}

.better-together-section .better-together-div .better-together-card-div .feature-box a.fb-box-link:focus {
  color: #fff;
}

.better-together-section .better-together-div .better-together-card-div .feature-box a.fb-box-link {
  background-color: #fff;
  display: inline-block;
  padding: 25px 20px;
  width: 100%;
  border-radius: 6px;
  max-height: 270px;
  position: relative;
  color: #fff;
  z-index: 999;
  -webkit-transition: 0.50s ease-in-out;
  transition: 0.50s ease-in-out;
}

.better-together-section .better-together-div .better-together-card-div .feature-box a.fb-box-link h3 {
  color: #333333;
  font-weight: 300;
  font-size: 40px;
  line-height: 48px;
  position: absolute;
  top: 20px;
  left: 0;
  padding-left: 20px;
  width: 100%;
  text-transform: capitalize;
}

.better-together-section .better-together-div .better-together-card-div .feature-box a.fb-box-link .div-content {
  color: #666666;
  height: 245px;
  padding-bottom: 25px;
  max-height: 245px;
  -webkit-transition: 0.50s ease-in-out;
  transition: 0.50s ease-in-out;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.better-together-section .better-together-div .better-together-card-div .feature-box a.fb-box-link .div-content p {
  color: #666666;
  margin: 0 0 20px 0;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  word-break: break-all;
  width: 100%;
}

.better-together-section .better-together-div .better-together-card-div .feature-box a.fb-box-link .div-content p:last-child {
  margin: 0 0 0px 0;
}

.better-together-section .better-together-div .better-together-card-div .feature-box a.fb-box-link:hover, .better-together-section .better-together-div .better-together-card-div .feature-box a.fb-box-link:focus {
  border-bottom: 1px solid transparent !important;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  border-radius: 6px;
}

.better-together-section .better-together-div .better-together-card-div .blue-color {
  position: relative;
  -webkit-transition: border-bottom 0.2s cubic-bezier(0.4, 0, 0.6, 1), color 0.2s cubic-bezier(0.4, 0, 0.6, 1);
  transition: border-bottom 0.2s cubic-bezier(0.4, 0, 0.6, 1), color 0.2s cubic-bezier(0.4, 0, 0.6, 1);
  outline: 0;
  border-bottom: 1px solid transparent;
  cursor: pointer;
  text-decoration: none;
  color: #1781E3;
}

.other-offers-section .other-offers-div {
  padding: 100px 0 100px 0;
  background-color: white;
}

.other-offers-section .other-offers-div .heading {
  padding: 0;
  margin: 0 auto 75px auto;
}

.other-offers-section .other-offers-div .heading h2 {
  text-align: center;
  max-width: 815px;
  font-size: 50px;
  letter-spacing: -1.7px;
  line-height: 62px;
}

.other-offers-section .other-offers-div .offers-root {
  padding: 0;
  margin: 0 0;
}

.other-offers-section .other-offers-div .offers-root .container-650 {
  padding: 0;
  margin: 0 auto;
  max-width: 620px;
}

.other-offers-section .other-offers-div .offers-root .offers-row {
  padding: 0;
  margin: 0 0 40px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.other-offers-section .other-offers-div .offers-root .offers-row .icon-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 25px 0 0;
}

.other-offers-section .other-offers-div .offers-root .offers-row .icon-box .icon-common1 {
  height: 42px;
  width: 42px;
  border: 3px solid #001155;
  border-radius: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 30px;
}

.other-offers-section .other-offers-div .offers-root .offers-row .icon-box .icon-common1::before {
  font-weight: 900;
}

.other-offers-section .other-offers-div .offers-root .offers-row .offers-details {
  padding: 5px 0 0 0;
}

.other-offers-section .other-offers-div .offers-root .offers-row .offers-details h4 {
  padding: 0;
  margin: 0 0 18px 0;
  font-weight: 500;
  font-size: 28px;
  color: #001155;
  letter-spacing: -0.75px;
  text-align: left;
  line-height: 32px;
}

.other-offers-section .other-offers-div .offers-root .offers-row .offers-details p {
  padding: 0;
  margin: 0 0 10px 0;
  font-weight: 500;
  font-size: 18px;
  color: #333333;
  letter-spacing: -0.11px;
  line-height: 24px;
}

.other-offers-section .other-offers-div .offers-root .offers-row .offers-details .link {
  font-weight: 500;
}

.events-section .events-div {
  padding: 100px 0 100px 0;
  background-color: #F8FAFB;
}

.events-section .events-div .heading {
  padding: 0;
  margin: 0 auto 75px auto;
}

.events-section .events-div .heading p {
  text-align: center;
  max-width: 700px;
}

.events-section .events-div .events-root {
  padding: 0;
  margin: 0;
  min-height: 200px;
}

/* End of contact us */
@media (max-width: 767px) {
  .major-wrapper {
    overflow-y: hidden;
  }
  .container {
    width: auto !important;
  }
  .nav__level1 .nav__mainnav .nav__primary .nav-item .nav-link .text-underline:before {
    background-color: transparent;
  }
  .nav__level1 .nav__mainnav .nav__primary .nav-item .nav-link:hover .text-underline::before {
    background-color: transparent;
  }
  .nav__level1 .nav__mainnav .nav__primary .nav-item .nav-link--active .text-underline::before {
    background-color: transparent;
  }
  .nav {
    position: fixed;
    top: 0;
    width: 100%;
    visibility: visible;
    /* add menu here */
  }
  .nav .logo {
    margin-top: 20px;
  }
  .nav .logo .logo-lifeform {
    background-image: url("../images/logo_animated.gif");
  }
  .nav .logo .logo-lifeform .logo_icon {
    height: 39px;
  }
  .nav .logo .logo-type {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .nav .logo .logo_img {
    width: 60px;
  }
  .nav .nav__level1 .nav__mainnav .nav__primary .nav-item {
    padding-right: 0px;
  }
  .nav .nav__mainnav {
    width: 100%;
    height: 80px;
    position: fixed;
    left: 0;
    padding: 0 12px;
  }
  .nav .search__input {
    display: block;
    overflow: hidden;
    position: relative;
    width: 100%;
    background: rgba(255, 255, 255, 0.2);
  }
  .nav .search.search--mobile {
    display: block;
    position: fixed;
    bottom: 0;
  }
  .nav .nav .nav__level1 .nav__mainnav {
    z-index: 3;
  }
  .nav .nav__mainnav.is-open {
    z-index: 3;
  }
  .nav .nav__level1 .nav__mainnav .nav__primary.is-open {
    height: 100vh;
    position: absolute;
    top: 0;
    padding: 80px 0 0px 0;
    background: #11AAFF url("../images/background_mobile.png");
    background-size: cover;
    visibility: visible;
    -webkit-animation-name: fadeIn;
            animation-name: fadeIn;
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }
  .nav .nav__level1 .nav__mainnav .nav__primary.is-open ul.nav-items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    height: 100%;
    padding: 0 0 110px 0;
  }
  .nav .nav__level1 .nav__mainnav .nav__primary.is-open ul.nav-items .nav-item {
    margin: 0 0 10px 0;
  }
  .nav .nav__level1 .nav__mainnav .nav__primary.is-open ul.nav-items .nav-item .nav-link {
    height: 100%;
    padding: 10px 30px 10px 25px;
    display: inline-block !important;
    color: #fff;
    border: none;
    visibility: visible;
    -webkit-animation-name: fadeInUp;
            animation-name: fadeInUp;
    -webkit-animation-duration: 1.5s;
    animation-duration: 1.5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }
  .nav .nav__level1 .nav__mainnav .nav__primary.is-open ul.nav-items .nav-item .nav-link:hover:before {
    content: "";
    -webkit-box-shadow: 0px 0px 55px 9px #FFFFFF;
    box-shadow: 0px 0px 55px 9px #FFFFFF;
    position: absolute;
    height: 0px;
    width: 65%;
    top: 24px;
    left: 18px;
  }
  .nav .nav__level1 .nav__mainnav .nav__primary.is-open ul.nav-items .nav-item .nav-link.nav-link--active:before {
    content: "";
    -webkit-box-shadow: 0px 0px 55px 9px #FFFFFF;
    box-shadow: 0px 0px 55px 9px #FFFFFF;
    position: absolute;
    height: 0px;
    width: 65%;
    top: 25px;
    left: 18px;
  }
  .nav .nav__level1 .nav__mainnav .nav__primary.is-open ul.nav-items .nav-item .nav-link.nav-link--active .text-underline::before {
    background-color: transparent !important;
  }
  .main_div {
    margin: 80px 0 0 0;
  }
  .box-round-2-div {
    display: none;
  }
  .communicate-blu-container {
    padding: 60px 0 0px 0;
    background-position: bottom center;
    height: 100%;
    background-size: 100% 50%;
  }
  .communicate-blu-container h2 {
    font-size: 28px;
    width: 70%;
    margin: 0 auto 30px auto;
  }
  .communicate-blu-container .communicate-txt-div {
    padding: 0px 0px;
    margin: 0 0 40px 0;
  }
  .communicate-blu-container .content-img {
    top: 80px;
    width: 100%;
    position: relative;
    margin: -70px 0 0 0;
  }
  .communicate-blu-container .content-img img {
    width: 100%;
  }
  .blu-help-section .blu-help-div {
    padding: 120px 0 0px 0;
  }
  .blu-help-section .blu-help-div .heading h2 {
    font-size: 28px;
    width: 70%;
    margin: 0 auto 30px auto;
  }
  .blu-help-section .blu-help-div .blu-help-card-div .feature-box {
    margin-bottom: 10px;
  }
  .blu-help-section .blu-help-div .blu-help-card-div .feature-box a.fb-box-link {
    max-height: 197px;
  }
  .blu-help-section .blu-help-div .blu-help-card-div .feature-box a.fb-box-link h3 {
    font-size: 24px;
    line-height: 48px;
  }
  .blu-help-section .blu-help-div .blu-help-card-div .feature-box a.fb-box-link .div-content {
    height: 197px;
    padding-bottom: 20px;
    max-height: 197px;
  }
  .blu-help-section .blu-help-div .blu-help-card-div .feature-box a.fb-box-link:hover {
    -webkit-transform: scale(1.03);
            transform: scale(1.03);
  }
  .blu-teams-section .blu-teams-div {
    padding: 60px 0 60px 0;
  }
  .blu-teams-section .blu-teams-div h2 {
    color: #fff;
    text-align: center;
    font-size: 28px;
    width: 90%;
    margin: 0 auto 30px auto;
  }
  .blu-teams-section .blu-teams-div .point-steps-list {
    width: 95%;
    padding: 10px 0 0 0;
  }
  .blu-teams-section .blu-teams-div .point-steps-list p {
    font-size: 18px;
  }
  .blu-teams-section .blu-teams-div .point-steps-list p span {
    font-size: 24px;
    height: 40px;
    width: 40px;
    line-height: 34px;
  }
  .profile-section .profile-div {
    padding: 0px 0;
    background-color: #eef3f6;
  }
  .profile-section .profile-div .profile-left {
    display: none;
  }
  .profile-section .profile-div .profile-right {
    float: none;
    width: 100%;
    right: auto;
    margin-top: 60px;
    padding: 0px;
    border-radius: 0px;
  }
  .profile-section .profile-div .profile-right .profile-content {
    text-align: center;
  }
  .profile-section .profile-div .profile-right .profile-content h2 {
    font-size: 28px;
    font-size: 28px;
    width: 70%;
    margin: 0 auto 10px auto;
  }
  .profile-section .profile-div .profile-right .profile-content form .border-box {
    padding: 20px 0px 10px 0px;
  }
  .profile-section .profile-div .profile-right .profile-content form .border-box .color-picker {
    display: block;
    height: 100%;
    width: 100%;
    margin: 0 0 20px 0;
  }
  .profile-section .profile-div .profile-right .profile-content .img-baby {
    margin-top: 0;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -ms-flex-line-pack: end;
        align-content: flex-end;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .profile-section .profile-div .profile-right .profile-content .img-baby img {
    width: 50px;
    float: left;
  }
  .profile-section .profile-div .profile-right .profile-content .img-student {
    margin-top: 0;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -ms-flex-line-pack: end;
        align-content: flex-end;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .profile-section .profile-div .profile-right .profile-content .img-student img {
    width: 88px;
  }
  .profile-section .profile-div .profile-right .profile-content .img-nerd {
    margin-top: 0;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -ms-flex-line-pack: end;
        align-content: flex-end;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .profile-section .profile-div .profile-right .profile-content .img-nerd img {
    width: 88px;
  }
  /* inner html */
  .chatbot-concept-section .chatbot-concept-div {
    padding: 60px 0 10px 0;
  }
  .chatbot-concept-section .chatbot-concept-div h2 {
    text-align: center;
    font-size: 28px;
    width: 90%;
    margin: 0 auto 30px auto;
  }
  .chatbot-concept-section .chatbot-concept-div .concept-row {
    padding: 0 0 50px 0;
  }
  .chatbot-concept-section .chatbot-concept-div .cc_content_img .img_thumb_div {
    margin: 0 auto;
    text-align: center;
  }
  .chatbot-concept-section .chatbot-concept-div .cc_content_img .img_thumb_div .img-responsive {
    width: 80%;
  }
  .mb-framework-section .mb-framework-div {
    padding: 60px 0 40px 0;
  }
  .mb-framework-section .mb-framework-div h2 {
    text-align: center;
    font-size: 28px;
    width: 90%;
    margin: 0 auto 30px auto;
  }
  .mb-framework-section .mb-framework-div .mbf-detail-listbox {
    padding: 0;
    margin: 0;
  }
  .mb-framework-section .mb-framework-div .mbf-detail-listbox ul {
    padding: 0 0px 0 0 !important;
    margin: 0;
  }
  .hl-architecture-section .hl-architecture-div {
    padding: 60px 0 40px 0;
  }
  .hl-architecture-section .hl-architecture-div h2 {
    text-align: center;
    font-size: 28px;
    width: 90%;
    margin: 0 auto 30px auto;
  }
  .hl-architecture-section .hl-architecture-div .btn-round {
    padding: 0px 0px;
    font-size: 8px;
    line-height: 20px;
  }
  .hl-architecture-section .hl-architecture-div .left-architecture-div {
    padding: 0 0 50px 0;
  }
  .hl-architecture-section .hl-architecture-div .left-architecture-div .top-left-div {
    margin: 0 0 -15px 0;
    width: 55%;
  }
  .hl-architecture-section .hl-architecture-div .left-architecture-div .bottom-left-div {
    margin: -15px 0 0 0;
    width: 55%;
  }
  .hl-architecture-section .hl-architecture-div .middle-architecture-div {
    padding: 0 0 50px 0;
  }
  .hl-architecture-section .hl-architecture-div .middle-architecture-div .middle-img-thumb img.img-responsive {
    width: 50%;
  }
  .hl-architecture-section .hl-architecture-div .middle-architecture-div .middle-img-thumb .span-arrow img {
    width: 15px;
  }
  .hl-architecture-section .hl-architecture-div .middle-architecture-div .middle-img-thumb .span-arrow-left {
    left: 10px;
  }
  .hl-architecture-section .hl-architecture-div .middle-architecture-div .middle-img-thumb .span-arrow-right {
    right: 10px;
  }
  .hl-architecture-section .hl-architecture-div .right-architecture-div {
    padding: 0 0 50px 0;
  }
  .hl-architecture-section .hl-architecture-div .right-architecture-div .middle-img-thumb {
    width: 100%;
  }
  .hl-architecture-section .hl-architecture-div .right-architecture-div .middle-img-thumb .btn-round {
    text-align: right;
    width: 100%;
    padding: 0 7px;
  }
  .hl-architecture-section .hl-architecture-div .bottom_title_div .title_bottom {
    font-size: 11px;
  }
  .luis-section .luis-div {
    padding: 60px 0 0px 0;
  }
  .luis-section .luis-div h2 {
    text-align: center;
    font-size: 28px;
    width: 90%;
    margin: 0 auto 30px auto;
  }
  .luis-section .luis-div .luis-img {
    margin: 0;
    line-height: 0px;
  }
  .luis-section .luis-div .luis-img .img-responsive {
    border-radius: 0px;
  }
  .luis-section .luis-div .luis-detailbox-right {
    padding: 39px 24px 45px 24px;
    margin: 0 -24px;
    background-color: #1781E3;
    border-radius: 0px;
  }
  /* contact us */
  .feedback-section .feedback-div {
    padding: 60px 0 60px 0;
  }
  .feedback-section .feedback-div h2 {
    text-align: center;
    font-size: 28px;
    width: 90%;
    margin: 0 auto 30px auto;
  }
  .feedback-section .feedback-div .feedback-detailbox {
    padding: 0 0% 0 0;
  }
  .team-section .team-div {
    padding: 60px 0 60px 0;
  }
  .team-section .team-div h2 {
    text-align: center;
    font-size: 28px;
    width: 90%;
    margin: 0 auto 30px auto;
  }
  .team-section .team-div .team-img-div {
    margin: 0 -24px;
  }
  .contact-section .contact-div {
    padding: 60px 0 60px 0;
  }
  .contact-section .contact-div h2 {
    text-align: center;
    font-size: 28px;
    width: 90%;
    margin: 0 auto 20px auto;
  }
  /* End of contact us */
  /* end of inner html */
  /* start new css */
  h1 {
    font-size: 36px;
    line-height: 48px;
  }
  h2 {
    font-size: 30px;
    line-height: 42px;
  }
  h3 {
    font-size: 24px;
    line-height: 36px;
  }
  p {
    font-size: 20px;
    line-height: 28px;
  }
  .nav .logo {
    margin-top: 20px;
    margin-left: -18px;
    z-index: 2;
  }
  .timeline-section .timeline-div .timeline-root .timeline-thumb {
    width: 100%;
    overflow-x: scroll;
  }
  .timeline-section .timeline-div .timeline-root .timeline-thumb .timeline-img {
    padding: 0 10px;
    width: 1025px;
    overflow-x: scroll;
  }
  .sdx-custom-container .accordion--border .accordion__item {
    padding: 20px 10px 20px 12px;
  }
  .comment-section .comment-div .container-1100 {
    margin: 0 12px 0 12px;
  }
  .comment-section .comment-div .comment-input-root .avatar {
    min-width: auto;
    margin: 0 12px 0 0;
  }
  .comment-section .comment-div .comment-input-root .avatar .avatar__image {
    height: 36px;
    width: 36px;
    margin: 7px 0 0 0;
  }
  .comment-section .comment-div .comment-input-root .avatar .status:before {
    right: 20px;
  }
  .comment-section .comment-div .comment-input-root .checkbox [type=checkbox] + label {
    font-size: 16px;
    padding-left: 30px;
  }
  .comment-section .comment-div .comment-input-root .bottom-row {
    display: block;
  }
  .comment-section .comment-div .comment-input-root .bottom-row .button--primary {
    display: block;
    margin: 20px 0 0 0;
    width: 100%;
  }
  .comment-section .comment-div .comment-input-root .bottom-row .button--primary.is-hidden {
    display: none;
  }
  .comment-section .comment-div .comment-view-root .avatar {
    min-width: auto;
    margin: 0 12px 0 0;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .comment-section .comment-div .comment-view-root .avatar .avatar__image {
    height: 36px;
    width: 36px;
    margin: 7px 0 0 0;
  }
  .comment-section .comment-div .comment-view-root .avatar .status:before {
    left: 20px;
  }
  .comment-section .comment-div .comment-view-root .heading-div {
    padding-left: 0px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .comment-section .comment-div .comment-view-root .heading-div .comment-number-div .icon-speech-bubble1 {
    margin: 0 0 0 20px;
  }
  .comment-section .comment-div .comment-view-root .comment__header {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .comment-section .comment-div .comment-view-root .comment__header .timespan {
    margin: 2px 0 0 0;
  }
  .comment-section .comment-div .comment-view-root .comment__wrapper {
    display: block;
  }
  .comment-section .comment-div .comment-view-root .comment__wrapper .comment__body {
    padding: 5px 0 0 0px;
  }
  /* look **/
  .carousel-custom1 .card--slider .card__image {
    height: 330px;
  }
  .carousel-custom1 .card--slider .card__image img.img-slider {
    height: 330px;
  }
  /* End of look **/
  /* End of new css */
  .input-group-root {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .input-group-root .input-fields {
    min-width: 100%;
    margin: 0 0px 0 0;
  }
  .input-group-root input.input {
    margin: 0 0 20px 0;
    padding: 10px 10px;
    font-size: 16px;
  }
  .input-group-root .btn-submit {
    text-align: center;
  }
  .carousel.carousel-custom3 .carousel__button-next {
    right: -10px;
    padding: 15px 15px 15px 5px;
  }
  .carousel.carousel-custom3 .carousel__button-prev {
    left: -10px;
  }
  .better-together-section .better-together-div .heading {
    padding: 0 10px;
  }
  .other-offers-section .other-offers-div .heading {
    padding: 0 10px;
  }
  .other-offers-section .other-offers-div .heading h2 {
    font-size: 30px;
    line-height: 42px;
  }
  .other-offers-section .other-offers-div .offers-root .container-650 {
    padding: 0 10px;
    margin: 0 auto;
    max-width: 100%;
  }
  .other-offers-section .other-offers-div .offers-root .offers-row .icon-box {
    margin: 0 10px 0 0;
  }
  .other-offers-section .other-offers-div .offers-root .offers-row .icon-box .icon-common1 {
    height: 36px;
    width: 36px;
    font-size: 24px;
  }
  .other-offers-section .other-offers-div .offers-root .offers-row .offers-details {
    padding: 2px 0 0 0;
  }
  .other-offers-section .other-offers-div .offers-root .offers-row .offers-details h4 {
    font-size: 24px;
    margin: 0 0 10px 0;
  }
  .content-slider-container .owl-carousel-slider h1 {
    font-size: 30px;
  }
  .content-slider-container .owl-carousel-slider p {
    font-size: 14px;
  }
  .owl-carousel-custom1 .card--slider img.img-slider {
    height: 330px;
  }
  .opportunities-section {
    padding: 80px 0 60px 0;
  }
  .swisscom-section1 {
    padding: 0px 0 60px 0;
  }
  .swisscom-section1 .order-2 {
    -webkit-box-ordinal-group: unset;
        -ms-flex-order: unset;
            order: unset;
  }
  .swisscom-section1 .img-thumb {
    padding: 30px 0 50px 0px;
    margin: 0 auto;
    text-align: center;
  }
  .swisscom-section1.swisscom-section2 .img-thumb {
    padding: 0px 0 50px 0px;
    margin: 0 auto;
    text-align: center;
  }
  .content-root .content-row ul.custom-ul li {
    margin: 0 0 20px 0;
    width: 100%;
  }
  .ready-level-section {
    padding: 140px 0 30px 0;
  }
  .brand-activation-section .brand-activation-div .content-root {
    padding-right: 0;
  }
  .img-root .img-box .mt-60 {
    margin-top: 20px !important;
  }
  .img-root .img-box .img-thumb {
    padding: 0 0px 0 0px;
    margin: 0 0 40px 0;
  }
  .img-root .img-box .img-thumb img.img-fluid {
    height: auto;
    width: 100%;
    max-height: 370px;
    -o-object-fit: none;
       object-fit: none;
  }
  .challenge-level-section .challenge-level-div h2 {
    line-height: 44px;
  }
  .better-together-section .better-together-div .heading {
    padding: 0;
  }
  .better-together-section .better-together-div .heading h2 {
    line-height: 36px;
  }
  .better-together-section .better-together-div .better-together-card-div {
    padding: 0 0 30px 0;
  }
  .other-offers-section .other-offers-div {
    padding: 100px 0 50px 0;
  }
  .timeline-section .timeline-div .timeline-root .timeline-row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    overflow-y: none;
    overflow-x: none;
  }
  .timeline-section .timeline-div .timeline-root .timeline-row .timeline-border {
    width: 2px;
    height: 100%;
    top: 0;
    left: 24px;
  }
  .timeline-section .timeline-div .timeline-root .timeline-row .timeline-relative.no-active {
    width: 100%;
  }
  .timeline-section .timeline-div .timeline-root .timeline-row .timeline-relative.no-active .timeline-box {
    min-height: 140px;
  }
  .timeline-section .timeline-div .timeline-root .timeline-row .timeline-relative.no-active .timeline-box .timeline-content {
    opacity: 1;
  }
  .timeline-section .timeline-div .timeline-root .timeline-row .timeline-relative.no-active .timeline-box .timeline-dot .outline-round-root {
    height: 50px;
    width: 50px;
  }
  .timeline-section .timeline-div .timeline-root .timeline-row .timeline-relative.no-active .timeline-box .timeline-dot .outline-round-root .line {
    bottom: 49px;
    height: 69px;
    top: auto;
  }
  .timeline-section .timeline-div .timeline-root .timeline-row .timeline-relative.no-active .timeline-box .timeline-dot .outline-round-root .line .dot {
    opacity: 1;
  }
  .timeline-section .timeline-div .timeline-root .timeline-row .timeline-relative.no-active .timeline-box .timeline-dot .outline-round2 {
    height: 34px;
    width: 34px;
  }
  .timeline-section .timeline-div .timeline-root .timeline-row .timeline-relative.no-active .timeline-box .timeline-dot .fill-round {
    height: 18px;
    width: 18px;
    background-color: #1781e3;
  }
  .timeline-section .timeline-div .timeline-root .timeline-row .timeline-relative.no-active .timeline-box .timeline-dot .fill-round:before {
    border: 1px solid #1781E3;
    background-color: #1781E3;
  }
  .timeline-section .timeline-div .timeline-root .timeline-row .timeline-relative.no-active .timeline-box.timeline-box-bottom {
    min-height: 220px;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .timeline-section .timeline-div .timeline-root .timeline-row .timeline-relative.no-active .timeline-box.timeline-box-bottom .timeline-dot {
    top: 0px;
    margin: 0px auto 0px auto;
    left: 0;
  }
  .timeline-section .timeline-div .timeline-root .timeline-row .timeline-relative.no-active .timeline-box.timeline-box-bottom .timeline-dot .outline-round-root .line {
    bottom: 49px;
    top: auto;
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  .timeline-section .timeline-div .timeline-root .timeline-row .timeline-relative.no-active .timeline-box.timeline-box-top .timeline-content {
    padding-top: 15px;
    margin: 50px 0 0 0;
  }
  .timeline-section .timeline-div .timeline-root .timeline-row .timeline-relative.no-active .timeline-box.timeline-box-top .timeline-dot {
    top: 0px;
    margin: 0;
  }
  .timeline-section .timeline-div .timeline-root .timeline-row .timeline-relative.no-active .timeline-dot {
    position: relative;
    top: 0px;
    left: -125px;
    margin: 0px auto 0px auto;
  }
  .timeline-section .timeline-div .timeline-root .timeline-row .timeline-relative.first-timeline .timeline-box .timeline-content {
    padding-top: 65px;
  }
  .timeline-section .timeline-div .timeline-root .timeline-row .timeline-box {
    width: 100%;
    max-width: 300px;
    min-height: 205px;
  }
  .timeline-section .timeline-div .timeline-root .timeline-row .timeline-box .timeline-content {
    padding: 20px 10px 30px 60px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .timeline-section .timeline-div .timeline-root .timeline-row .timeline-box .timeline-dot {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    margin-bottom: auto;
    position: absolute;
    top: -100px;
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
    left: 0;
    margin-bottom: auto;
  }
  .timeline-section .timeline-div .timeline-root .timeline-row .timeline-box.timeline-box-top {
    margin-right: 0;
  }
  .timeline-section .timeline-div .timeline-root .timeline-row .timeline-box.timeline-box-bottom {
    position: relative;
    bottom: auto;
    left: auto;
  }
  .timeline-section .timeline-div .timeline-root .timeline-row .timeline-box.timeline-box-bottom .timeline-dot {
    margin-bottom: auto;
  }
}

@media only screen and (max-width: 767px) and (min-width: 320px) and (max-height: 568px) {
  .timeline-section .timeline-div .timeline-root .timeline-row .timeline-relative.no-active .timeline-dot {
    position: relative;
    top: -85px;
    left: -110px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .nav .logo {
    margin-left: 4px;
    margin-right: 70px;
    margin-top: 22px;
  }
  .profile-section .profile-right {
    padding: 40px 25px;
  }
  .major-wrapper {
    overflow-y: hidden;
  }
  .container {
    width: auto !important;
  }
  .nav {
    position: fixed;
    top: 0;
    width: 100%;
    /* add menu here */
  }
  .nav .nav__level1 .nav__mainnav > .nav__secondary {
    padding-right: 10px;
  }
  .nav .nav__level1 .nav__mainnav .nav__primary .nav-item {
    padding-right: 30px;
  }
  .nav .nav__level1 .nav__mainnav .nav-link {
    line-height: 28px;
    font-size: 20px;
  }
  .banner-container .video-background {
    width: 100%;
  }
  .banner-container .video-background video {
    left: 60%;
    height: 400px;
  }
  .banner-container .banner-blk-div {
    width: 100%;
    left: 0;
  }
  .banner-container .banner-blk-div .banner-caption-blk-div {
    width: 65%;
  }
  .banner-container .banner-blk-div .blu-heart-icon-div {
    left: 40px;
  }
  .banner-container .banner-blk-div .blu-heart-icon-div img {
    width: 175px;
  }
  .banner-container .banner-path {
    width: 100%;
    left: 0;
    right: auto;
    overflow: hidden;
  }
  .banner-container .banner-path img {
    width: 860px;
    left: -90px !important;
  }
  .main_div {
    margin: 80px 0 0 0;
  }
  .communicate-blu-container .communicate-txt-div {
    padding: 0px 12px;
    margin: 0 0 40px 0;
  }
  .communicate-blu-container .content-img {
    top: 00px;
    width: 100%;
    position: relative;
    margin: 0px 0 0 0;
  }
  .communicate-blu-container .content-img img {
    width: 100%;
  }
  .blu-help-section .blu-help-div {
    padding: 100px 0 100px 0;
  }
  .blu-help-section .blu-help-div .heading h2 {
    margin: 0 auto 60px auto;
  }
  .blu-help-section .blu-help-div .blu-help-card-div {
    padding: 0 12px;
  }
  .blu-help-section .blu-help-div .blu-help-card-div .feature-box {
    margin-bottom: 10px;
  }
  .blu-help-section .blu-help-div .blu-help-card-div .feature-box a.fb-box-link h3 {
    font-size: 24px;
    line-height: 48px;
  }
  .blu-teams-section .blu-teams-div {
    padding: 100px 0 100px 0;
  }
  .blu-teams-section .blu-teams-div h2 {
    margin: 0 auto 50px auto;
  }
  .blu-teams-section .blu-teams-div .point-steps-list {
    width: 70%;
    padding: 10px 0 0 0;
  }
  .profile-section .profile-div {
    padding: 0px 12px;
    background-color: #eef3f6;
  }
  .profile-section .profile-div .profile-left {
    display: none;
  }
  .profile-section .profile-div .profile-right {
    float: none;
    width: 100%;
    right: auto;
    margin-top: 80px;
    padding: 0px;
    border-radius: 0px;
  }
  .profile-section .profile-div .profile-right .profile-content h2 {
    margin: 0 0 30px 0;
  }
  /* inner html */
  .chatbot-concept-section .chatbot-concept-div {
    padding-left: 12px;
    padding-right: 12px;
  }
  .mb-framework-section .mb-framework-div {
    padding-left: 12px;
    padding-right: 12px;
  }
  .mb-framework-section .mb-framework-div .mbf-detail-listbox {
    padding: 0;
    margin: 0;
  }
  .mb-framework-section .mb-framework-div .mbf-detail-listbox ul {
    padding: 0 0% 0 0 !important;
    margin: 0;
  }
  .hl-architecture-section .hl-architecture-div {
    padding-left: 12px;
    padding-right: 12px;
  }
  .hl-architecture-section .hl-architecture-div .btn-round {
    padding: 2px 10px;
    font-size: 13px;
    line-height: 28px;
  }
  .hl-architecture-section .hl-architecture-div .left-architecture-div {
    padding: 0 0 80px 0;
  }
  .hl-architecture-section .hl-architecture-div .left-architecture-div .top-left-div {
    margin: 0 0 -20px 0;
    width: 50%;
  }
  .hl-architecture-section .hl-architecture-div .left-architecture-div .bottom-left-div {
    margin: -20px 0 0 0;
    width: 50%;
  }
  .hl-architecture-section .hl-architecture-div .middle-architecture-div {
    padding: 0 0 80px 0;
  }
  .hl-architecture-section .hl-architecture-div .middle-architecture-div .middle-img-thumb img.img-responsive {
    width: 60%;
  }
  .hl-architecture-section .hl-architecture-div .middle-architecture-div .middle-img-thumb .span-arrow img {
    width: 30px;
  }
  .hl-architecture-section .hl-architecture-div .middle-architecture-div .middle-img-thumb .span-arrow-left {
    left: 15px;
  }
  .hl-architecture-section .hl-architecture-div .middle-architecture-div .middle-img-thumb .span-arrow-right {
    right: 15px;
  }
  .hl-architecture-section .hl-architecture-div .right-architecture-div {
    padding: 0 0 80px 0;
  }
  .hl-architecture-section .hl-architecture-div .right-architecture-div .middle-img-thumb {
    width: 100%;
  }
  .hl-architecture-section .hl-architecture-div .bottom_title_div .title_bottom {
    font-size: 24px;
  }
  .luis-section .luis-div {
    padding-left: 12px;
    padding-right: 12px;
  }
  .luis-section .luis-div .luis-detailbox-right {
    padding: 45px 20px 45px 20px;
  }
  /* contact us */
  .feedback-section .feedback-div {
    padding-left: 12px;
    padding-right: 12px;
  }
  .team-section .team-div {
    padding-left: 12px;
    padding-right: 12px;
  }
  .contact-section .contact-div {
    padding-left: 12px;
    padding-right: 12px;
  }
  /* End of contact us */
  /* end of inner html */
  /* start new css */
  h1 {
    font-size: 42px;
    line-height: 48px;
  }
  h2 {
    font-size: 36px;
    line-height: 42px;
  }
  h3 {
    font-size: 21px;
    line-height: 36px;
  }
  p {
    font-size: 20px;
    line-height: 28px;
  }
  .other-offers-section .other-offers-div .heading {
    padding: 0 10px;
  }
  .other-offers-section .other-offers-div .heading h2 {
    font-size: 36px;
    line-height: 42px;
  }
  .other-offers-section .other-offers-div .offers-root .container-650 {
    padding: 0 10px;
    margin: 0 auto;
  }
  .other-offers-section .other-offers-div .offers-root .offers-row .icon-box {
    margin: 0 10px 0 0;
  }
  .other-offers-section .other-offers-div .offers-root .offers-row .icon-box .icon-common1 {
    height: 36px;
    width: 36px;
    font-size: 24px;
  }
  .other-offers-section .other-offers-div .offers-root .offers-row .offers-details {
    padding: 2px 0 0 0;
  }
  .other-offers-section .other-offers-div .offers-root .offers-row .offers-details h4 {
    font-size: 24px;
    margin: 0 0 10px 0;
  }
  .representation-section .representation-div .content-root {
    padding: 0 20px;
  }
  .brand-activation-section .brand-activation-div .container {
    padding-left: 24px;
    padding-right: 24px;
  }
  .promise-section .promise-div .container {
    padding-left: 24px;
    padding-right: 24px;
  }
  .swisscom-div1 .container {
    padding-left: 24px;
    padding-right: 24px;
  }
  .opportunities-section {
    padding: 80px 0 60px 0;
  }
  .swisscom-section1 {
    padding: 0px 0 60px 0;
  }
  .swisscom-section1 .img-thumb {
    padding: 30px 0 50px 0px;
    margin: 0 auto;
    text-align: center;
  }
  .swisscom-section1.swisscom-section2 .img-thumb {
    padding: 0px 0 50px 0px;
    margin: 0 auto;
    text-align: center;
  }
  .content-root .content-row ul.custom-ul li {
    margin: 0 0 20px 0;
    width: 100%;
  }
  .img-root .img-box .img-thumb img.img-fluid {
    height: auto;
    width: 100%;
    max-height: 400px;
    -o-object-fit: none;
       object-fit: none;
  }
  .challenge-level-section .challenge-level-div h2 {
    line-height: 48px;
  }
  .better-together-section .better-together-div .better-together-card-div {
    padding: 0 0 20px 0;
  }
  .timeline-section .timeline-div .timeline-root .timeline-row .timeline-border {
    min-width: 955px;
  }
  /* End new css */
}

@media only screen and (min-width: 1024px) and (max-width: 1366px) {
  .container {
    width: 976px !important;
  }
  .banner-container .banner-blk-div {
    top: 0px;
  }
  .banner-container .banner-blk-div .banner-caption-blk-div {
    width: 60%;
  }
  .banner-container .banner-path {
    overflow: hidden;
  }
}

@media only screen and (min-width: 1025px) and (max-width: 1290px) {
  .banner-container .banner-blk-div {
    top: 80px;
  }
  .banner-container .banner-blk-div .banner-caption-blk-div {
    width: 50%;
  }
  .banner-container .banner-path {
    overflow: hidden;
  }
}

@-webkit-keyframes slideInDown10 {
  0% {
    left: 0;
    top: 0;
  }
  50% {
    left: 0px;
    top: -100px;
  }
  100% {
    left: 0px;
    top: 0;
  }
}

@keyframes slideInDown10 {
  0% {
    left: 0;
    top: 0;
  }
  50% {
    left: 0px;
    top: -100px;
  }
  100% {
    left: 0px;
    top: 0;
  }
}

.slideInDown10 {
  -webkit-animation-name: slideInDown10;
          animation-name: slideInDown10;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-delay: .5s;
          animation-delay: .5s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-animation-duration: 5.25s !important;
          animation-duration: 5.25s !important;
}
/*# sourceMappingURL=style.css.map */