/* colors */

$transparent-color: transparent;
$white-color: rgb(255, 255, 255);
$light-white-color: rgba(255, 255, 255, 0.6);
$light-white-color2: rgba(255, 255, 255, 0.5);
$black-color:rgba(0, 0, 0, 1);
$light-black-color:rgba(0, 0, 0, 0.5);

$sub-color1: #F8FAFB;

$heading-color: #001155;
$nav-color: #001155;
$navi-blue-color: #001155;
$text-color: #333333;
$text-666666: #666666;
$bg-white: #fff;
$bg-light-green: #eef3f6;
$blue-color:#1781E3;
$bg-light-color1:#F5F5F5;
$bg-light-color2:#DDE3E7;

$bodrer-color1:#D6D6D6;

$btn-bgcolor1:#5944C6;
$btn-bgcolor2:#E61E64;
$btn-bgcolor3:#1781E3;
$btn-bgcolor4:#0EABA9;
$btn-bgcolor5:#11AAFF;

/* Navigation Menu */

/* common css */

.container { width: 1000px!important; }
.container-1170{ width: 1170px!important; }

.span-block{ display: block; }

h1 { font-size: 60px; color: $white-color; letter-spacing: -0.33px; text-align: center; line-height: 78px; font-weight: 300; }
h2{ margin: 0 auto 20px auto; padding: 0; font-size: 48px; color:$heading-color; text-align: center;font-weight: 300;}
p { color: $text-color; padding: 0 0 0 0; margin: 0 auto 20px auto; font-weight: 500; font-size: 24px; line-height: 32px; letter-spacing: -0.35px; }

.font-bold{ font-weight: 700; }

.mt-15{ margin-top: 15px !important; }
.mt-20{ margin-top: 20px !important; }
.mt-35{ margin-top: 35px !important; }
.mt-40{ margin-top: 40px !important; }
.mt-60{ margin-top: 60px !important; }
.mt-80{ margin-top: 80px !important; }

.mb-15{ margin-bottom: 15px !important; }
.mb-20{ margin-bottom: 20px !important; }
.mb-35{ margin-bottom: 35px !important; }
.mb-40{ margin-bottom: 40px !important; }
.mb-60{ margin-bottom: 60px !important; }
.mb-80{ margin-bottom: 80px !important; }

.mr-10{ margin-right:10px !important; }
.mr-15{ margin-right:15px !important; }
.mr-20{ margin-right:20px !important; }

.ml-10{ margin-left:10px !important; }
.ml-15{ margin-left:15px !important; }
.ml-20{ margin-left:20px !important; }

.search.search--desktop { position: fixed; }

.pause-icon { -webkit-mask: url(../images/new/play.svg) no-repeat 50% 50%; mask: url(../images/new/play.svg) no-repeat 50% 50%; -webkit-mask-size: contain; display: inline-block; vertical-align: middle; mask-size: cover; width: 29px; height: 31px; background-color: #E4E9EC; transition: 0.5s; }
.play-icon {
    -webkit-mask: url(../images/new/pause.svg) no-repeat 50% 50%;
    mask: url(../images/new/pause.svg) no-repeat 50% 50%;
    -webkit-mask-size: contain;
    display: inline-block;
    vertical-align: middle;
    mask-size: contain;
    width: 20px;
    height: 20px;
    background-color: $white-color;
}
/* End of common css */

.nav{
    position: fixed; width: 100%; top:0;
    .logo {
         margin-left: 0px; margin-right: 125px;
        .logo_icon { height: 40px; }
        .logo_img{ width: 70px; }
        .logo-lifeform {background-image: none;background-size: 40px; }
        .logo-type{ display: flex;align-items: center;padding: 0 0 0 8px; }
    }
    .nav__level1 {
        .nav__mainnav
        {
            .nav__primary .nav-item { 
                padding-right: 70px; margin: 0;
                .nav-link{ color:$nav-color; }
                .nav-link{ 
                    &:hover{  
                        color: $blue-color;
                        .text-underline::before{ background-color:$blue-color; top:31px;}
                        
                    }
                 }
                .nav-link--active{ 
                    color: $blue-color;
                    .text-underline::before{ background-color:$blue-color; top:31px;}
                 }
             }

        }
    } 
    .nav-user{
        span.span-round-img{
            display: flex; align-items: center; justify-content: center; margin: -12px 0 0 0;
            img.img-user {
                height: 48px; width: 48px; display: flex; object-fit: cover; border-radius: 100%; background-color: #D8D8D8; border: 1px solid #979797; font-size: 12px; text-align: center;
            }
        }
    }
}

/* Navigation Responsive */

/* home page */

.main_div{ 
    padding: 0;margin: 80px 0 0 0;position: relative;overflow-y: hidden; 
    .font_bold{ font-weight: 700!important; }
}

.banner-container {
    margin: 0 auto; padding: 0; position: relative; height: 100%; width: 100%; min-height: 520px;
    .video-background { 
        position: absolute; top: 0; right: 0; bottom: 0; left: 0; width: 100%; height: 100%; overflow: hidden; margin: 0 auto; 
        .video-foreground {
            background-color: rgba(2, 98, 172, 0.5);
            video { height: 520px; width: 100%; display: flex; align-items: center; justify-content: center; object-fit: cover; }
        }
    }
    
    .banner-blk-div {
        margin: 0 auto; padding: 0; position: relative; background-color: rgba(2, 98, 172, 0.9);
        .content-banner-div{
            width: 100%; max-width: 976px; min-height: 520px;   display: flex; align-items: center; justify-content: center;
            h1 {
                min-height: 156px;
            }
        }    
    }

    .banner-path { 
        margin: 0 auto; padding: 0; position: absolute; bottom:-5px; right:0; width:100%; text-align: center; z-index: 11;
        img {margin: 0 auto; padding: 0; position: relative; left:100px; text-align: center; z-index: 111;}
    }
}

.opportunities-section{
    background-color: $bg-white; padding: 100px 0 75px 0; position: relative; overflow: hidden;
    .heading{ padding: 0; margin:0 auto;  }
    p{ text-align: center; max-width: 700px; }
}

.representation-section{
    background-color: $sub-color1; padding: 100px 0 75px 0; position: relative; overflow: hidden;
    .representation-div{
        padding: 0;
    }
}

.timeline-section{
    background-color: $bg-white; padding: 100px 0 75px 0; position: relative; overflow: hidden;
    .heading{ padding: 0; margin:0 auto;  }
    p{ text-align: center; max-width: 700px; }

    .timeline-div{
        .timeline-root{
            padding:0; margin:55px 0 0 0; position: relative;
            .timeline-thumb{
                padding:0; margin:0; position: relative;
                .timeline-img{
                    padding:0; margin:0; width: 100%;
                }
            }
        }
    }
}

.questions-ans-section{
    background-color: $sub-color1; padding: 100px 0 100px 0; position: relative; overflow: hidden;
    .questions-ans-div{
        padding: 0px; margin: 0px; position: relative; ;
        .heading{ padding: 0; margin:0 auto 75px auto;  
            p{ text-align: center; max-width: 700px; }
        }
    }
}

.sdx-custom-container{
    .accordion--border {
        border-bottom: 0px solid #d6d6d6;
        .accordion__item {
            border: none; border-bottom: 0; padding: 23px 13px 24px 19px; border-bottom: 1px solid $bodrer-color1;
            &:last-child{ border-bottom: 0px solid $bodrer-color1; }
        }
        .accordion__collapse{
            padding: 20px 0 15px 0; 
            p { font-size: 16px; color: $text-color; letter-spacing: 0.11px; text-align: left; line-height: 24px; font-weight: 300; }
            h4 { color: $heading-color; line-height: 24px; letter-spacing: -.1px; font-size: 18px; font-weight: 400; }
        }
        
    }
}

.status {
    &:before{ position: absolute; margin: 0px 0 0 0; display: block; right: 30px; top: 28px; }
    &.status-online{ &:before{ color: #25B252; } }
}

.comment-section{
    position: relative; overflow: hidden;
    .comment-div{
        padding: 0px; margin: 0px; position: relative; 
        .comment-input-root{
            padding: 50px 0 40px 0; margin: 0px; position: relative; background-color: #EEF3F6;
            .avatar {
                margin:0 20px 0 0;position: relative; min-width: 115px; display: flex; justify-content: flex-end;
                .avatar__image {
                    height: 47px; width: 47px; display: flex; object-fit: cover; border-radius: 100%; background-color: #D8D8D8; border: 1px solid #979797; font-size: 12px; text-align: center;
                }
                
            }
            .textarea-comment { border: 1px solid transparent !important; border-radius: 0px !important; background-color: #DEE3E6 !important; font-weight: 500 !important; color: #666666; min-height: 48px; }
            .bottom-row{
                display: flex; align-items: center; justify-content: space-between;
                .checkbox [type=checkbox]+label::before {
                    border: 2px solid #666;
                    border-radius: 100px;
                }
                .checkbox [type=checkbox]:checked+label::after {
                    color: #666;
                }
                .button--primary {
                    margin-bottom: 0px; border-radius: 0px;
                }
            }
        }
        .comment-view-root{
            padding: 30px 0 30px 0; margin: 0px; position: relative; background-color: $white-color;
            .avatar {
                margin:0 0px 0 0;position: relative;  display: flex; justify-content: flex-end;
                .avatar__image {
                    height: 47px; width: 47px; display: flex; object-fit: cover; border-radius: 100%; background-color: #D8D8D8; border: 1px solid #979797; font-size: 12px; text-align: center;
                }
            }
            .comment__header{
                display: flex; flex-direction: column; padding: 0 8px 0 0; min-width: 115px;
                .timespan {
                    font-weight: 400; color: #666; font-size: 16px; text-align: right; line-height: 24px; margin: 2px 0 5px 0;
                }
                .link { width: 100%; text-align: right; display: flex; justify-content: flex-end; align-items: center; font-weight: 500;
                    .icon-plus.icon-common1 { font-size: 12px; border: 1px solid; border-radius: 100%; margin: 0 5px 0 0; }
                    .round-plus { display: flex; }
                }
            }
            .comment__wrapper{
                display:flex; width: 100%; position: relative;
                &:first-child{ border-top: 1px solid transparent !important; }
                &:last-child{ border-bottom: 1px solid transparent !important; }
                .author{ margin:0 0 5px 0; }
                .author__title { width: 100%; font-weight: 500; }
                span.author__subtitle { font-weight: 400; color: #666; }
                .comment_text_view_post { font-weight: 400; line-height: 24px; color: $text-color; margin: 0 0 5px 0; padding: 0 55px 0 0; font-size: 18px; }
                .comment__footer{ padding: 0; margin: 10px 0 0 0; display: flex; 
                    span.number-icons { display: inline-block; position: relative; }
                    span.comment-number-view { font-size: 12px; font-weight: 700; position: absolute; top: -7px; right: -3px; }
                    .link { display: flex; align-items: center;font-weight: 500; }
                    .icon-common1 { margin: 0 5px 0 0; }
                }
                .comment__body{
                    padding: 0 0 0 12px;
                }
                .round-cancel { position: absolute; top: 15px; right: 15px; font-size: 14px; font-weight: 600; text-decoration: none;
                    .icon-close.icon-common1 { border: 1px solid; border-radius: 100%; display: flex; align-items: center; justify-content: center; height: 16px; width: 16px; padding: 0 0px 0 0px; color: #666; }
                    &:hover, &:focus, &:active{
                        text-decoration: none !important; border-bottom: 0px !important;
                        i{  color: $blue-color !important }
                    }
                }
            }
            .heading-div{
                padding: 0; padding-left: 127px; margin: 0 0 0px 0; position: relative; display: flex;
                .comment-number-div{ position: relative;
                    .icon-speech-bubble1 { font-size: 30px; color: $text-color; margin: 0 0 0 70px; }
                    span.comment-number-view { font-size: 12px; font-weight: 700; position: absolute; top: -5px; right: -7px; }
                }
            }
        }
    }
}


.the-campaign-section{
    background-color: $sub-color1; padding: 150px 0 100px 0; position: relative; overflow: hidden;
    .the-campaign-div{
        padding: 0px; margin: 0px; position: relative; ;
        .heading{ padding: 0; margin:0 auto 75px auto;  
            p{ text-align: center; max-width: 700px; }
        }
    }
}

.carousel__slider .slide { 
    opacity: 0; 
    &.slide.slide--prev{ opacity: 1; }
    &.slide--active{ opacity: 1; }
    &.slide--next{ opacity: 1; }

    .img-slider530{ height: 530px; width: 100%; object-fit: cover; }

}

.carousel-custom1{
    .carousel__slider-wrapper{  }    
    .card--slider {
        .card__image { 
            height: 530px; 
            img.img-slider { width: 100%; display: flex; align-items: center; justify-content: center; object-fit: cover; height: 530px; }
        }
    }

    .carousel__pagination {
        margin: 40px 0 0 0;
    }
}

.input-group-root{
    padding: 0; margin:0; position: relative; display: flex;
    .input-fields {
        min-width: calc(100% - 190px); margin: 0 25px 0 0;
    }
    input.input {
        background: #FFFFFF; border: 1px solid #D6D6D6; border-radius: 5px; min-height: 48px; width: 100%; padding: 10px 20px;
    }
}

.slider-section{
    .slider-div{
        .content-card{
            padding: 0;
            .card--slider {
                padding: 10px 15px;
            }
        }

    }   
}

.carousel-custom3{
    .slide {
        box-shadow: none !important;
        .content-div { padding: 20px 0 30px 0; }
        h4 { padding: 0; margin: 0 0 15px 0 ; font-weight: 400; font-size: 24px; color: $nav-color; letter-spacing: -0.35px; text-align: center; line-height: 32px; }
        p { padding: 0; margin: 0 0 0 0; font-weight: 400; font-size: 16px; color: $text-color; letter-spacing: -0.09px; text-align: center; line-height: 24px; }
    }
    .carousel__pagination {
        margin: 50px 0 0 0;
    }
}

/* Start look & feel  **/

.mood-for-ready-section{
    background-color: $bg-white;position: relative;
    position: relative;
    padding: 0 0 0 0;
    .heading{ padding: 0; margin:0 auto;  }
    .mood-for-ready-div{
        padding: 0; margin:0; 
        padding: 100px 0 0 0;
        min-height: 460px;
        background-image: url(../images/new/back-shadow1.png); background-repeat: no-repeat; background-position: center; background-size: cover;
    }
}

.video-div{ margin: 0 0 -85px 0; position: relative; z-index: 5;
    .video-box{
        .video-thumb{
            position: relative;
            .video-look { width: 100%; height: 265px; display: flex; align-items: center; justify-content: center; object-fit: cover; }
            .video-side-card{ position: absolute; min-height: 265px; width: 100%; display: flex; align-items: center; justify-content: center; z-index: 3; top: 0;
                .video-button { 
                    width: 70px; height: 70px; background: $light-black-color; border-radius: 100%; cursor: pointer; display: flex; align-items: center; justify-content: center; 
                    .pause-icon{ width: 25px; height: 26px; padding: 0 0 0 4px;  }
                    .play-icon{ width: 21px; height: 22px; margin: 0 1px 0 0px;  }
                }
                .display-none{ display: none; }
            }
        }
        .video-footer{
            padding: 0; margin: 5px 0 0 0; position: relative;
            p {
                font-size: 14px;
                color: $text-color;
                letter-spacing: -0.2px;
                line-height: 32px;
                font-weight: 500;
            }
        } 
    }
}

.ready-check-section{
    background-color: $sub-color1; padding: 100px 0 80px 0; position: relative; overflow: hidden;
    .ready-check-div{
        padding: 0px; margin: 0px; position: relative; ;
        .heading{ padding: 0; margin:0 auto 75px auto;  
            p{ text-align: center; max-width: 700px; }
        }
    }
}

.slider-section{
    background-color: $white-color; padding: 100px 0 80px 0; position: relative; overflow: hidden;
    .heading{ padding: 0; margin:0 auto 75px auto;  
        p{ text-align: center; max-width: 700px; }
    }
}

.better-together-section {
    .better-together-div { 
        padding: 100px 0 45px 0; background-color: $bg-light-green;
        .heading{ padding: 0; margin:0 auto 75px auto;  
            p{ text-align: center; max-width: 700px; }
        }
        .better-together-card-div{ 
            padding: 0 0 60px 0;margin:0;
            .feature-box {   
                margin-bottom: 16px;position: relative;z-index: 9;border-bottom: 1px solid transparent!important;
                button.link{ color:#fff;}
                &:hover, &:focus{ 
                    transform: scale(1.05); text-decoration: none; border-bottom: 0; color: #fff; -webkit-box-shadow:0px 0px 60px 2px rgba(74,144,226,0.3); -moz-box-shadow:0px 0px 60px 2px rgba(74,144,226,0.3); box-shadow: 0px 0px 60px 2px rgba(74,144,226,0.3);border:none;z-index: 9999;
                    .div-content { padding-top: 00px; }
                }
                a.fb-box-link:focus { color:#fff;}
                a.fb-box-link { 
                    background-color: #fff;display: inline-block;padding: 25px 20px;width: 100%;border-radius: 6px;max-height:270px;position: relative;color:#fff;z-index: 999;
                    h3 { color: $text-color; font-weight: 300; font-size: 40px; line-height: 48px; position: absolute; top: 20px;left: 0;padding-left: 20px; width: 100%;text-transform: capitalize; }
                    
                    .div-content {
                        color: $text-666666; height: 245px; padding-bottom:25px; max-height: 245px; -webkit-transition: 0.50s ease-in-out; -moz-transition: 0.50s ease-in-out; -ms-transition: 0.50s ease-in-out; -o-transition: 0.50s ease-in-out; transition: 0.50s ease-in-out;    display: flex; align-items: flex-start; flex-direction: column; justify-content: flex-end;
                        p { 
                            color: #666666; margin:0 0 20px 0;font-size: 16px;font-weight: 500;word-break: break-all;width: 100%; 
                            &:last-child{ margin:0 0 0px 0; }
                         }
                    }
                    &:hover, &:focus{ border-bottom: 1px solid transparent!important;transform: scale(1.05);border-radius: 6px; }
                    -webkit-transition: 0.50s ease-in-out; -moz-transition: 0.50s ease-in-out; -ms-transition: 0.50s ease-in-out; -o-transition: 0.50s ease-in-out; transition: 0.50s ease-in-out;
                }
    
            }
            .blue-color {
                position: relative;
                transition: border-bottom .2s cubic-bezier(.4,0,.6,1),color .2s cubic-bezier(.4,0,.6,1);
                outline: 0;
                border-bottom: 1px solid transparent;
                cursor: pointer;
                text-decoration: none;
                color: $blue-color;
            }
        }

    }
}

.other-offers-section {
    .other-offers-div { 
        padding: 100px 0 100px 0; background-color: $white-color;
        .heading{ padding: 0; margin:0 auto 75px auto;  
            h2{ text-align: center; max-width: 815px; font-size: 50px; letter-spacing: -1.7px; line-height: 62px; }
        }
        .offers-root{
            padding: 0; margin:0 0;  
            .container-650{ padding: 0; margin:0 auto; max-width: 650px; }
            .offers-row{
                padding: 0; margin:0 0 40px 0; display: flex;
                .icon-box { display: flex; margin: 0 25px 0 0;
                    .icon-common1 { height: 42px; width: 42px; border: 3px solid $nav-color; border-radius: 100%; display: flex; align-items: center; justify-content: center;    font-size: 30px; 
                        &::before{ font-weight: 900; }
                    }
                }
                .offers-details{
                    padding: 5px 0 0 0;
                    h4 { padding: 0; margin:0 0 18px 0; font-weight: 500; font-size: 28px; color: $nav-color; letter-spacing: -0.75px; text-align: left; line-height: 32px; }
                    p { padding: 0; margin:0 0 10px 0; font-weight: 500; font-size: 18px; color: $text-color; letter-spacing: -0.11px; line-height: 24px; }
                    .link { font-weight: 500; }
                }
                
            }
        }
    }
}

.events-section {
    .events-div { 
        padding: 100px 0 100px 0; background-color: $sub-color1;
        .heading{ padding: 0; margin:0 auto 75px auto;  
            p{ text-align: center; max-width: 700px; }
        }
        .events-root{
            padding: 0; margin:0; min-height: 200px; 
        }
    }
}   

/***************************/
/* starting old design css */

.blu-help-section {
    .blu-help-div { 
        padding: 190px 0 100px 0; background-color: $bg-light-green;
        .heading { h2 {font-size: 48px; text-align: center; color: $heading-color; margin-bottom: 120px;} }

        .blu-help-card-div{ 
            padding: 0 0 60px 0;margin:0;
            .feature-box {   
                margin-bottom: 16px;position: relative;z-index: 9;border-bottom: 1px solid transparent!important;
                button.link{ color:#fff;}
                &:hover, &:focus{ 
                    transform: scale(1.05); text-decoration: none; border-bottom: 0; color: #fff; -webkit-box-shadow:0px 0px 60px 2px rgba(74,144,226,0.3); -moz-box-shadow:0px 0px 60px 2px rgba(74,144,226,0.3); box-shadow: 0px 0px 60px 2px rgba(74,144,226,0.3);border:none;z-index: 9999;
                    .div-content { padding-top: 00px; }
                }
                a.fb-box-link:focus { color:#fff;}
                a.fb-box-link { 
                    background-color: #fff;display: inline-block;padding: 25px 20px;width: 100%;border-radius: 6px;max-height:270px;position: relative;color:#fff;z-index: 999;
                    h3 { color: $text-color; font-weight: 500; font-size: 40px; line-height: 48px; position: absolute; top: 20px;left: 0;padding-left: 20px; width: 100%;text-transform: capitalize; }
                    
                    .div-content {
                        color: $text-666666; height: 245px; padding-bottom:25px; max-height: 245px; -webkit-transition: 0.50s ease-in-out; -moz-transition: 0.50s ease-in-out; -ms-transition: 0.50s ease-in-out; -o-transition: 0.50s ease-in-out; transition: 0.50s ease-in-out;    display: flex; align-items: flex-start; flex-direction: column; justify-content: flex-end;
                        p { 
                            margin:0 0 20px 0; font-size: 16px;font-weight: 500;word-break: break-all;width: 100%; 
                            &:last-child{ margin:0 0 0px 0; }
                         }
                    }
                    &:hover, &:focus{ border-bottom: 1px solid transparent!important;transform: scale(1.05);border-radius: 6px; }
                    -webkit-transition: 0.50s ease-in-out; -moz-transition: 0.50s ease-in-out; -ms-transition: 0.50s ease-in-out; -o-transition: 0.50s ease-in-out; transition: 0.50s ease-in-out;
                }
    
            }
        }

    }
}

.blu-teams-section {
    .blu-teams-div {
        padding: 100px 0 130px 0; background-color: #5944C6; 
        h2 { color: #fff; text-align: center; font-size: 50px; margin-bottom: 60px; line-height: 48px; font-weight: 300; }
    
        .point-steps-list { width: 55%;margin:0 auto;
            p {color: #fff; font-size: 28px;    display: flex; align-items: center;font-weight:500;
            .span-round {font-size: 28px; height: 45px; text-align: center; margin-right: 20px; width: 45px; border-radius: 100%; border: 4px solid #fff; display: inline-block;line-height: 38px; }
                &:nth-child(1){ animation-duration: 1.25s !important; }
                &:nth-child(2){ animation-duration: 2s !important; }
                &:nth-child(3){ animation-duration: 2.75s !important; }
                &:nth-child(4){ animation-duration: 3.5s !important; }
            }
        }
    }
}




.animated {
    -webkit-animation-duration: 1.25s !important;
    animation-duration: 1.25s !important;
}

/* inner html css */

.chatbot-concept-section {
    .chatbot-concept-div{
        background-color: $bg-light-green; padding: 100px 0 0 0;
        
        h2{ margin: 0 0 80px 0; padding: 0; font-size: 48px; color:$heading-color; text-align: center;font-weight: 300;}

        .concept-row{ padding: 0 0 80px 0; }
        
        .cc_content_box
        {
            padding: 0 0 20px 0; text-align: center; 
            .heading_div{ 
                padding: 0;margin: 0 0 30px 0;
                p { 
                    color: $text-color; font-size: 24px;font-weight:500;
                    .round_span { font-size: 30px; height: 45px; text-align: center; margin-right: 20px; width: 45px; border-radius: 100%; color: #1781E3;  border: 4px solid #1781E3; display: inline-block; line-height: 38px; }
                }
            }
            .details_div{ 
                padding: 0;margin: 0;
                p{ color: $text-color; padding: 0 20px 0 0;margin: 0 0 20px 0; }
            }

        }
        
        .cc_content_img { display: flex;align-items: center;justify-content: center;height: 100%;
            .img_thumb_div{ padding: 0;margin: 0;
                img{ width: 100%; }
             }
        }
       
    }
}

.mb-framework-section {
    .mb-framework-div{
        padding: 100px 0 80px 0;
        
        h2{ margin: 0 0 80px 0; padding: 0; font-size: 48px; color:$heading-color; text-align: center;font-weight: 300;line-height: 56px;  }

        .mbf-detailbox {
            padding: 0;margin: 0;
            h3{ padding: 0;margin: 0 0 40px 0;font-size: 24px; color:$text-color;font-weight: 300;}
            .mbf-detail-listbox{ 
                padding: 0;margin: 0; 
                ul{ 
                    padding: 0 10% 0 0;margin: 0; 
                    li{
                        padding: 0 0 0 25px;margin: 0 0 20px 0; line-height: 24px;position: relative;font-weight:500;
                        &::before { display: inline-block; content: ""; border-radius:100%; height: 9px; width: 9px; margin-right: 10px; background-color: $blue-color; position: absolute; top: 7px; left: 0; }
                    }
                }
            }
        }
        
    }
}



/* contact us */


.hide_div{ display: none; visibility: visible; animation-name: fadeOut; -webkit-animation-duration: 2s; animation-duration: 2s; -webkit-animation-fill-mode: both; animation-fill-mode: both;-webkit-animation-delay: 1s;animation-delay: 1s;  }
.show_div{ display: flex!important; }

.team-section {
    .team-div{
        padding: 100px 0 80px 0;background-color:$bg-light-green;
        h2{ margin: 0 0 80px 0; padding: 0; font-size: 48px; color:$heading-color; text-align: center;font-weight: 300;line-height: 56px;  }
        .team-img-div{ 
            padding: 0;margin: 0; 
            .img-team{ width: 100%; }
        }
    }
}  

.owl-carousel-slider{
    display: flex; flex-direction: column;
    h1{ margin: 0 0 15px 0; }
    p { font-weight: 400; font-size: 16px; color: $white-color; letter-spacing: -0.09px; text-align: center; line-height: 24px; }
    .client-slider-item{
        min-height: 245px; padding: 100px 0 70px 0;
    }
    .owl-dots {
        display: flex; align-items: center; justify-content: center;
        .owl-dot { width: 16px; height: 16px; margin: 0px 4px; opacity: .5; transition: opacity 150ms cubic-bezier(.4,0,.2,1); cursor: pointer; display: flex;
            align-items: center; justify-content: center;
            span{ background-color: #fff; width: 8px; height: 8px;  margin: 0;  }
            &.active{ 
                opacity: 1;
                span{ width: 16px; height: 16px; background-color: #fff !important; opacity: 1 !important;    margin: 0; }
            }
            &:hover, &:focus{
                opacity: 1;
                span{ background: $white-color; }
            }
        }
    }
}

.owl-carousel-custom1{
    .card--slider {
        padding: 10px 15px;
        img.img-slider { height: 530px; object-fit: cover; width: 100%; display: flex; align-items: center; justify-content: center; }
    }
    .owl-dots {
        padding: 60px 0 0 0;
        .owl-dot {
            span{ background-color: $blue-color; }
            &.active{ 
                span{ background-color: $blue-color !important; }
            }
            &:hover, &:focus{
                span{ background: $blue-color; }
            }
        }
    }
    .owl-nav {
        margin-top: 10px;
        top: calc(50% - 60px);
        height: 60px;
        position: absolute;
        bottom: 0;
        width: inherit;
        z-index: 15;
        pointer-events: none;
        [class*=owl-]{
            position: absolute;
            width: auto;
            height: auto;
            font-size: 22px;
            background-image: none;
            cursor: pointer;
            outline: 0;
            pointer-events: auto;
            font-size: 60px !important;
            color: $blue-color !important;
            background-color: transparent;
            transition: color .2s cubic-bezier(.4,0,.6,1),-webkit-transform .3s cubic-bezier(.4,0,.6,1);
            transition: color .2s cubic-bezier(.4,0,.6,1),transform .3s cubic-bezier(.4,0,.6,1);
            transition: color .2s cubic-bezier(.4,0,.6,1),transform .3s cubic-bezier(.4,0,.6,1),-webkit-transform .3s cubic-bezier(.4,0,.6,1);
            &:focus, &:hover{
                background-color: transparent !important;
            }
            &.owl-prev{ left: -105px; }
            &.owl-next{ right: -105px; }
        }
    }
}

.content-slider-container{
    margin: 0 0 0px 0; padding: 0; min-height: 520px;     display: flex; align-items: center;
    
}

/* End of contact us */

@media (max-width: 767px)
{
    
    .major-wrapper{ overflow-y: hidden; }

    .container { width: auto !important; }

    .nav__level1 {
        .nav__mainnav
        {
            .nav__primary .nav-item { 
                .nav-link{ 
                        .text-underline:before{ background-color:transparent; }
                 }
                .nav-link{ 
                    &:hover{  
                        .text-underline::before{ background-color:transparent; }
                        
                    }
                 }
                .nav-link--active{ 
                    .text-underline::before{ background-color:transparent; }
                 }
             }
        }
    } 

    .nav {
        position: fixed;
        top: 0;width: 100%;
        visibility: visible; 
        .logo { 
            margin-top: 20px;
            .logo-lifeform {
                background-image: url("../images/logo_animated.gif");
                .logo_icon{ height: 39px; }

            } 
            .logo-type {
                display: flex;
            }
            .logo_img {
                width: 60px;
            }
        }
        
        .nav__level1 {
            .nav__mainnav {
                .nav__primary .nav-item {
                    padding-right: 0px;
                }
            }
        } 
        /* add menu here */

        .nav__mainnav {
            width: 100%;
            height: 80px;
            position: fixed;
            left: 0;
            padding: 0 12px;
        }
        
        .search__input { display: block; overflow: hidden; position: relative; width: 100%; background: rgba(255, 255, 255, 0.2); }
        .search.search--mobile { display: block; position: fixed; bottom: 0;  }

        .nav__level1 .nav__mainnav .nav__primary.is-open { height: 100vh; position: absolute; top: 0; padding: 80px 0 0px 0;
            background: #11AAFF url("../images/background_mobile.png");
            // background-image: linear-gradient(to right, #11AAFF , #11AAFF);
            background-size: cover; visibility: visible;
            animation-name: fadeIn; -webkit-animation-duration: 0.5s; animation-duration: 0.5s; -webkit-animation-fill-mode: both; animation-fill-mode: both;

            ul.nav-items { 
                display: flex; flex-direction: column; justify-content: flex-end; align-items: flex-end; height: 100%; padding: 0 0 110px 0;
                
                .nav-item{ margin: 0 0 10px 0;
                    .nav-link {
                        height: 100%; padding: 10px 30px 10px 25px; display: inline-block !important; color: #fff; border: none;
                        visibility: visible; animation-name: fadeInUp; -webkit-animation-duration:1.5s; animation-duration: 1.5s; -webkit-animation-fill-mode: both; animation-fill-mode: both;
                      

                    &:hover:before {
                        content: "";
                        -webkit-box-shadow: 0px 0px 55px 9px #FFFFFF; 
                        box-shadow: 0px 0px 55px 9px #FFFFFF;
                        position: absolute;
                        height: 0px;   
                        width: 65%;
                        top: 24px;
                        left: 18px
                    }  
                    }
                 

                    .nav-link.nav-link--active:before {
                        content: "";
                        -webkit-box-shadow: 0px 0px 55px 9px #FFFFFF; 
                        box-shadow: 0px 0px 55px 9px #FFFFFF;
                        position: absolute;
                        height: 0px;
                        width: 65%;
                        top: 25px;
                        left: 18px;

                      
                     }

                     .nav-link.nav-link--active {
                         
                        .text-underline::before { background-color: transparent!important; }
                    }
                }
            }
            
        }
    }

    .main_div{ margin: 80px 0 0 0; }

    .box-round-2-div { display: none; }

    .communicate-blu-container {
        padding: 60px 0 0px 0;background-position: bottom center;height: 100%;background-size: 100% 50%;
        h2{ font-size: 28px; width: 70%; margin: 0 auto 30px auto; }
        .communicate-txt-div { padding: 0px 0px;margin:0 0 40px 0; }
        .content-img {
            top: 80px;width: 100%;position: relative; margin: -70px 0 0 0;
            img { width: 100%; }
        }
    }

    .blu-help-section {
        .blu-help-div { 
            padding: 120px 0 0px 0;
            .heading { h2{ font-size: 28px; width: 70%; margin: 0 auto 30px auto; } }
    
            .blu-help-card-div{ 
                .feature-box {   
                    margin-bottom: 10px;
                    a.fb-box-link { 
                        max-height:197px; 
                        h3 { font-size: 24px; line-height: 48px; }
                        .div-content { height: 197px; padding-bottom: 20px; max-height: 197px; }
                        &:hover { transform: scale(1.03); }
                    }
                }
            }
    
        }
    }

    .blu-teams-section {
        .blu-teams-div {
            padding: 60px 0 60px 0;
            h2 { color: #fff; text-align: center; font-size: 28px; width: 90%; margin: 0 auto 30px auto; }
        
            .point-steps-list { width: 95%;padding:10px 0 0 0;
                p { font-size: 18px; 
                    span { font-size: 24px; height: 40px; width: 40px;line-height: 34px; }
                }
        
            }
        }
    }
   
    /* inner html */
    
    
    /* contact us */

    .feedback-section {
        .feedback-div{
            padding: 60px 0 60px 0;
            h2 { text-align: center; font-size: 28px; width: 90%; margin: 0 auto 30px auto; }
            .feedback-detailbox{ padding: 0 0% 0 0; }
        }
    }

    /* End of contact us */
    
    /* end of inner html */

    /* start new css */
    
    h1 { font-size: 36px; line-height: 48px; }
    h2 { font-size: 30px; line-height: 42px; }
    h3 { font-size: 24px; line-height: 36px; }
    p { font-size: 18px; line-height: 28px; }

    .nav {
        .logo {
            margin-top: 20px;
            margin-left: -18px;
        }
    }

    .banner-container {
        .banner-blk-div {
            .content-banner-div {
                h1 {
                    min-height: auto;
                }
            }
        }
    }
    
    .timeline-section {
        .timeline-div {
            .timeline-root {
                .timeline-thumb {
                    width: 100%; overflow-x: scroll;
                    .timeline-img{ padding: 0 10px; width: 1025px; overflow-x: scroll; }
                }
            }
        }
    }
    
    .sdx-custom-container {
        .accordion--border {
            .accordion__item {
                padding: 20px 10px 20px 12px;
            }
        }
    }
    
    .comment-section {
        .comment-div {
            .container-1100 {
                margin: 0 12px 0 12px;
            }
            .comment-input-root {
                .avatar { 
                    min-width: auto; margin: 0 12px 0 0;
                    .avatar__image{
                        height: 36px; width: 36px; margin: 7px 0 0 0;
                    }
                    .status:before {
                        right: 20px;
                    }
                }
                .checkbox [type=checkbox]+label { font-size: 16px; padding-left: 30px; }
                .bottom-row{ display: block; 
                    .button--primary{
                        display: block; margin: 20px 0 0 0; width: 100%;
                        &.is-hidden{ display: none; }
                    }
                }
            }
            .comment-view-root {
                .avatar { 
                    min-width: auto; margin: 0 12px 0 0; justify-content: flex-start;
                    .avatar__image{
                        height: 36px; width: 36px; margin: 7px 0 0 0;
                    }
                    .status:before {
                        left: 20px;
                    }
                }
                .heading-div{
                    padding-left: 0px; justify-content: space-between;
                    .comment-number-div {
                        .icon-speech-bubble1 { margin: 0 0 0 20px; }
                    }
                }
                .comment__header{ flex-direction: row; 
                    .timespan{
                        margin: 2px 0 0 0;
                     }
                }
                .comment__wrapper {
                    display: block;
                    .comment__body {
                        padding: 5px 0 0 0px;
                    }
                }
            }
        }
    }
    
    /* look **/

    .carousel-custom1 {
        .card--slider {
            .card__image {
                height: 330px;
                img.img-slider {
                    height: 330px;
                }
            }
        }
    }
    

    /* End of look **/

    .input-group-root { flex-direction: column; 
        .input-fields{     min-width: 100%; margin: 0 0px 0 0; }
        input.input{ margin: 0 0 20px 0; padding: 10px 10px; font-size: 16px; }
        .btn-submit { text-align: center; }
    }

    .carousel.carousel-custom3{
        .carousel__button-next { right: -10px; padding: 15px 15px 15px 5px; }
        .carousel__button-prev{  left: -10px;  }
    }
    
    .better-together-section {
        .better-together-div {
            .heading {
                padding: 0 10px;
            }
        }
    }

    .other-offers-section {
        .other-offers-div {
            .heading { padding: 0 10px;
                h2 { font-size: 30px; line-height: 42px; }
            }
            .offers-root {
                .container-650 {
                    padding: 0 10px; margin: 0 auto; max-width: 100%;
                }
                .offers-row{
                    .icon-box{ margin: 0 10px 0 0; 
                        .icon-common1 { height: 36px; width: 36px; font-size: 24px; }
                    }
                    .offers-details{
                        padding: 2px 0 0 0;
                        h4{  font-size: 24px; margin: 0 0 10px 0; }
                    }
                }
            }
        }
    }
    
    .content-slider-container {
        .owl-carousel-slider {
            h1 { font-size: 30px; }
            p{ font-size: 14px; }
        }
    }
    
    .owl-carousel-custom1 {
        .card--slider {
            img.img-slider {
                height: 330px;
            }
        }
    }
    

    /* End of new css */



}

@media only screen and (min-width : 768px) and (max-width : 1024px) {
   
    .nav{ 
        .logo { margin-left: 4px; margin-right: 70px; margin-top: 22px; } 
    }
    .profile-section{ 
        .profile-right{ padding: 40px 25px; }
    }   
    
    .major-wrapper{ overflow-y: hidden; }

    .container { width: auto !important; }

    .nav {
        position: fixed;top: 0;width: 100%;
        
        .nav__level1 {
            .nav__mainnav {
                >.nav__secondary {
                    padding-right: 10px;
                }
                .nav__primary .nav-item {
                    padding-right: 30px;
                }
                .nav-link {
                    line-height: 28px;
                    font-size: 20px;
                }
            }
        } 

        /* add menu here */
        
        
    }

    .banner-container {
        .video-background {width:100%;}
        .video-background video { left: 60%; height: 400px; }
        .banner-blk-div 
        {
            width: 100%; left:0;
            
            .banner-caption-blk-div { width: 65%; }
            .blu-heart-icon-div {
                left: 40px;
                img{
                    width: 175px;
                }
            }
        }

        .banner-path { 
            width: 100%; left:0; right: auto;overflow: hidden;
            img { width: 860px; left: -90px !important; }
        }
        
    }

    .main_div{ margin: 80px 0 0 0; }

    .communicate-blu-container {
        
        .communicate-txt-div { padding: 0px 12px;margin:0 0 40px 0; }
        .content-img {
            top: 00px;width: 100%;position: relative; margin: 0px 0 0 0;
            img { width: 100%; }
        }
    }

    .blu-help-section {
        .blu-help-div { 
            padding: 100px 0 100px 0;
            .heading { h2{ margin: 0 auto 60px auto; } }
    
            .blu-help-card-div{ 
                padding: 0 12px;
                .feature-box {   
                    margin-bottom: 10px;
                    a.fb-box-link { h3 { font-size: 24px; line-height: 48px; } }
                }
            }
    
        }
    }

    .blu-teams-section {
        .blu-teams-div {
            padding: 100px 0 100px 0;

            h2 { margin: 0 auto 50px auto; }
        
            .point-steps-list { width: 70%;padding:10px 0 0 0;
              
            }
        }
    }
    
    .profile-section {
        .profile-div{
            padding: 0px 12px;background-color: $bg-light-green; 
            .profile-left { display: none; }
            .profile-right { 
                float: none; width: 100%; right: auto; margin-top: 80px;padding: 0px; border-radius:0px; 
                .profile-content h2{ margin: 0 0 30px 0; }
            }
        }
    }

    /* inner html */    
  
     /* contact us */

     .feedback-section {
        .feedback-div{
            padding-left: 12px; padding-right: 12px;
        }
    }

    .contact-section {
        .contact-div{
            padding-left: 12px; padding-right: 12px;
        }
    }  


    /* End of contact us */

    /* end of inner html */

    /* start new css */

    h1 { font-size: 42px; line-height: 48px; }
    h2 { font-size: 36px; line-height: 42px; }
    h3 { font-size: 21px; line-height: 36px; }
    p { font-size: 20px; line-height: 28px; }

    .other-offers-section {
        .other-offers-div {
            .heading { padding: 0 10px;
                h2 { font-size: 36px; line-height: 42px; }
            }
            .offers-root {
                .container-650 {
                    padding: 0 10px; margin: 0 auto; 
                }
                .offers-row{
                    .icon-box{ margin: 0 10px 0 0; 
                        .icon-common1 { height: 36px; width: 36px; font-size: 24px; }
                    }
                    .offers-details{
                        padding: 2px 0 0 0;
                        h4{  font-size: 24px; margin: 0 0 10px 0; }
                    }
                }
            }
        }
    }
    
    
    /* End new css */

}

@media only screen and (min-width: 1024px) and (max-width:1366px) {
    
    .container{  width: 976px !important; }
    .banner-container {
        .banner-blk-div { 
            top: 0px; 
            .banner-caption-blk-div { width: 60%; }
        }
        .banner-path { overflow: hidden; }
        
    }

}

@media only screen and (min-width: 1025px) and (max-width:1290px) {
    
    .banner-container {
        .banner-blk-div { top: 80px;
            .banner-caption-blk-div { width: 50%; }
         }
        .banner-path { overflow: hidden; }
    }

}

@media only screen and (min-width: 375px) and (max-width:812px) {

}
@media only screen and (min-width: 320px) and (max-width:568px) {

}
@media only screen and (min-width: 320px) and (max-width:480px) {

}

@keyframes slideInDown10 {
    0% {
      left: 0;
      top: 0;
    }
    50% {
      left: 0px;
      top: -100px;
    }
    100% {
      left: 0px;
      top: 0;
    }
  }
  .slideInDown10 {
    animation-name: slideInDown10;
    animation-duration: 5s;
    animation-timing-function: ease-in-out;
    animation-delay: .5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-duration: 5.25s !important;
  }
 
